<div class="row">
<div class="col s9">
<h3>Authorized users for <%= @cim.name -%></h3>

<% if current_user.admin? %>
  <p><%= link_to 'Edit', edit_private_cim_path(@cim), class: 'btn' -%> </p>
<% end %>


<table>
  <thead>
    <th>Email</th>
    <th>Password</th>
   <% if (current_user.admin? and current_user.client_for_cim?(cim: @cim))  %>
     <th>Remove</th>
     <th>Client</th>
     <th>Visits</th>
   <% end %>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
   <tr>
      <td> <%= user.email -%> <%= user.client_for_cim?(cim: @cim) ? '(client)' : ''  -%> </td>
      <td> <%= @cim.password_for_email(email: user.email) -%></td>
        <% if (current_user.admin? and current_user.client_for_cim?(cim: @cim) )  %>
          <td><%= link_to 'remove', private_cim_user_remove_path(@cim,user), method: :put, data: {confirm: "Are you sure that you want to remove this user?"} -%></td>
          <% if current_user.admin? %>
            <td>
              <% if !user.client_for_cim?(cim: @cim) %>
               <%= link_to 'make client', private_cim_user_client_path(@cim,user), method: :put -%>
             <% else  %>
               <%= link_to 'remove client priveleges', private_cim_user_remove_client_path(@cim,user), method: :put -%>
             <% end %>
          <% end %>
        <% end %>
      </td>
      <td> <%= link_to user.cim_accesses.where(cim_id: @cim.id).count, private_cim_cim_accesses_path(@cim, user_id: user.id ) -%> </td>
      <td> <%= link_to 're-send invitation' , private_cim_user_invite_path(@cim, user_id: user.id), method: :put  -%> </td>
   </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create a new user and invite to CIM', new_private_cim_user_path(@cim), class: 'btn' -%>
</p>
</div>
</div>
