<p id="best_in_place"><span class="notice"><%= notice %></span></p>
<div class="container">
       <div class="row">
       <div class="col s12">
        <div class="card">
          <div class="card-content company-list">
            <div class="row">
                <div class="col m5 s12">
                    <h4>Companies (User View)<span> <%= link_to 'Admin view', admin_businesses_path %></span></h4>
                </div>
                <div id="search" class="input-field col m5 s12">
                    <%= form_tag businesses_path, id: 'business-search', class: 'search-bar', role: 'search',  method: :get do %>
                      <%= text_field_tag :q, params[:q], type: 'search', placeholder: 'Search' -%>
                      <%= hidden_field_tag :division1, params[:division1] -%>
                      <%= hidden_field_tag :division2, params[:division2] -%>
                      <%= hidden_field_tag :division3, params[:division3] -%>
                      <%= hidden_field_tag :division4, params[:division4] -%>
                      <%= hidden_field_tag :division5, params[:division5] -%>
                  <% end %>
                  <i class="material-icons">search</i>
                </div>
            </div>
                <section>
                   <%= render partial: 'geo_divisions' %>
                    <table class="user-view">
                      <thead>
                        <%= render partial: 'column_headers' -%>
                      </thead>
                      <tbody>
                        <% @businesses.each do |business| %>
                          <tr>
                            <td>
                              <%= link_to business.company_name, business_path(business) %>
                              <span id="favorite-business-link-<%=business.id%>" class="favorite-business"><%= favorite_business_link(business)-%></span>
                            </td>
                            <td> <%= business.contact_first_name %> <%= business.contact_last_name %></td>
                            <td><%= business.phone %></td>
                            <td><%= business.revenue %></td>
                            <td><%= business.number_of_employees %></td>
                            <td><%= business.industry_classification %></td>
                            <td><%= business.city %></td>
                            <td><%= business.state %></td>
                            <td><%= business.country %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%= paginate(@businesses) -%>
                </section>
          </div>
        </div>
      </div>
    </div>
