<p id= best_in_place business"notice"><%= notice %></p>

<h1>Businesses</h1>

<table>
  <thead>
    <tr>
        <th>Company Name </th>
        <th>Contact title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Website</th>
        <th># Employees</th>
        <th>NAISC Code</th>
        <th>SIC Code</th>
        <th>Description</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Country</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= best_in_place business, :company_name, url: business_path(business),  place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :contact_title , place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :contact_first_name, place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :contact_last_name, place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :phone , place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :email , place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :website , place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :number_of_employees, place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :naics_code , place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :sic_code , place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :description, place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :address, place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :city, place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :state, place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :postal_code, place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :country , place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :created_at , place_holder: 'edit'  %></td>
        <td><%= best_in_place business, :updated_at, place_holder: 'edit'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
