<p id="best_in_place"><span class="notice"><%= notice %></span></p>
<div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content company-list">
            <h4>Companies <span>User View</span></h4>
                <section>
                    <table class="user-view">
                      <thead>
                        <tr>
                            <th>Company</th>
                            <th>Owner/CEO</th>
                        <!--<th>Title</th>
                            <th>First Name</th>
                            <th>Last Name</th>-->
                            <th>Phone/Email</th>
                        <!--<th>Website</th>-->
                            <th>Employees</th>
                            <th>Parent Company</th>
                            <th>NAISC</th>
                            <th>SIC</th>
                            <th>Industry</th>
                            <th>Description</th>
                        <!--<th>Address</th>-->
                            <th>City</th>
                            <th>State</th>
                        <!--<th>Zip</th>
                            <th>Country</th> -->
                        <!--<th>Time</th>-->
                            <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @businesses.each do |business| %>
                          <tr>
                            <td>
                                <%= link_to business_path(business) do %>
                                    <%= business.company_name %>
                                <% end %></td>
                            <td><a href="#" class="credit">1 Credit</a></td>
                        <!--<td><%= best_in_place business, :contact_title , place_holder: 'edit'  %></td>-->
                            <td><a href="#" class="credit">1 Credit</a></td>
                        <!--<td><%= best_in_place business, :contact_first_name, place_holder: 'edit'  %></td>
                            <td><%= best_in_place business, :contact_last_name, place_holder: 'edit'  %></td>-->
                            <td><a href="#" class="credit">1 Credit</a></td>
                        <!--<td><%= best_in_place business, :phone , place_holder: 'edit'  %></td>-->
                        <!--<td><%= best_in_place business, :email , place_holder: 'edit'  %></td>
                            <td><%= best_in_place business, :website , place_holder: 'edit'  %></td>-->
                        <!--<td><%= best_in_place business, :number_of_employees, place_holder: 'edit'  %></td>-->
                            <td style="color:red">Parent company</td>
                            <td><%= best_in_place business, :naics_code , place_holder: 'edit'  %></td>
                            <td><%= best_in_place business, :sic_code , place_holder: 'edit'  %></td>
                            <td style="color:red">Industry classification</td>
                            <td><a href="#" class="credit">1 Credit</a></td>
                        <!--<td><%= best_in_place business, :description, place_holder: 'edit'  %></td>-->
                        <!--<td><%= best_in_place business, :address, place_holder: 'edit'  %></td>-->
                            <td><%= best_in_place business, :city, place_holder: 'edit'  %></td>
                            <td><%= best_in_place business, :state, place_holder: 'edit'  %></td>
                            <!--<td><%= best_in_place business, :postal_code, place_holder: 'edit'  %></td>-->
                            <!--<td><%= best_in_place business, :country , place_holder: 'edit'  %></td>-->
                        <!--<td>created:<%= business.created_at.strftime("%m/%d/%Y") -%> updated:<%= business.updated_at.strftime("%m/%d/%Y") -%></td>-->

                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                </section>
          </div>
        </div>
      </div>
    </div>
</div>

