<p id="best_in_place"><span class="notice"><%= notice %></span></p>
<div class="container">

    <div class="col s12">
     
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content company-list">
            <div class="row">
                <div class="col m5 s12">
                    <h4>Companies <span>User View</span></h4>
                </div>
                <div class="col m4 s12">
                    <!--<div class="range-container" id="pips-slider"></div> range slider--> &nbsp; &nbsp;
                </div>
                <div id="search" class="input-field col m3 s12">
                  <input type="text" class="">
                  <i class="material-icons">search</i>
                </div>
            </div>
                <section>
                    <table class="user-view">
                      <thead>
                        <tr>
                            <th>Company</th>
                            <th>Owner/CEO</th>
                            <th>Phone/Email</th>
                            <th>Revenue</th>
                            <th>Employees</th>
                            <th>Industry</th>
                            <th>Description</th>
                            <th>City</th>
                            <th>State</th>
                            <th><i class="material-icons dp48">query_builder</i></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @businesses.each do |business| %>
                          <tr>
                            <td>
                                <%= link_to business_path(business) do %>
                                    <%= business.company_name %>
                                <% end %>
                            </td>
                            <td><a href="#" class="credit">1 Credit</a></td>
                            <td><a href="#" class="credit">1 Credit</a></td>
                            <td><%= business.revenue %></td>
                            <td><%= business.number_of_employees %></td>
                            <td><%= business.industry_classification %></td>
                            <td><a href="#" class="credit">1 Credit</a></td>
                            <td><%= business.city %></td>
                            <td><%= business.state %></td>
                            <td id="when"><%= business.updated_at.strftime("%m/%d/%y") -%></td>

                            <!--<td><%= best_in_place business, :postal_code, place_holder: 'edit'  %></td>-->
                            <!--<td><%= best_in_place business, :country , place_holder: 'edit'  %></td>-->
                        <!--<td>created:<%= business.created_at.strftime("%m/%d/%Y") -%> updated:<%= business.updated_at.strftime("%m/%d/%Y") -%></td>-->

                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                </section>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">

/* Range slider stuff */
$(function() {
    
    $("#pips-slider")
    
      .slider({
        
          range: true,
          min: 5,
          max: 500,
          values: [ 5, 500 ],
          step: 25
        
        })
    
      .slider("pips", {
          
          first: "pip",
          last: "pip",
          rest: "pip",
          step: 45,
          labels: true,
          prefix: "",
          suffix: " million"
        
        })
    
      .slider("float", {
          
          handle: true,
          pips: false,
          labels: true,
          prefix: "",
          suffix: ""
        
      });

});
</script>