<p><%= @business.company_name %></p>
<p><%= @business.contact_title %></p>
<p><%= @business.contact_first_name%></p>
<p><%= @business.contact_last_name%></p>
<p><%= @business.phone %></p>
<p><%= @business.email %></p>
<p><%= @business.website %></p>
<p><%= @business.number_of_employees %></p>
<p><%= @business.naics_code %></p>
<p><%= @business.sic_code %></p>
<p><%= @business.description %></p>
<p><%= @business.address %></p>
<p><%= @business.city %></p>
<p><%= @business.state %></p>
<p><%= @business.postal_code %></p>
<p><%= @business.country %></p>
<p><%= @business.created_at %></p>
<p><%= @business.updated_at %></p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'List', businesses_path %>
