<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content company-list">
        <div class="row">
          <div class="col m9 s12">
            <h4>Companies (Admin View)<span> edit <%= link_to 'User View', businesses_path %> </span></h4>
          </div>
          <div id="search" class="input-field col m3 s12">
            <input type="text" class="">
            <i class="material-icons">search</i>
          </div>
        </div>

        <section>
          <%= render partial: '/admin/businesses/search'-%>
            <table class="admin-view">
              <thead>
                <%= render partial: 'column_headers' %>
              </thead>
              <tbody>
                <% @businesses.each do |business| %>
                  <tr>
                    <td>
                       <%= business.duplication_status -%>
                       <% if business.ready? or business.ok? %>
                         <%= link_to 'dupe',  admin_business_dupe_path(business), method: :put, class: 'dupe-btn' %>
                      <% end %>
                       <% if business.dupe? or business.ready? %>
                        <%= link_to 'keep',  admin_business_undupe_path(business), method: :put, class: 'keep-btn' %>
                      <% end %>

                      <% if business.last_updated_by_user.present? %>
                          <small>last updated by:
                          <%= business.last_updated_by_user.name %>
                          </small>
                      <% end %>

                    </td>
                    <td style="width: 200px;"><%= best_in_place business, :company_name, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %> <%= link_to '→', business_path(business) %></td>
                    <td><%= best_in_place business, :address, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :city, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :state, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :postal_code, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :country, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :contact_title, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :contact_first_name, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :contact_last_name, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :phone, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :email, url: admin_business_path(business), :inner_class => 'input-small', place_holder:'edit edit' %></td>
                    <td><%= best_in_place business, :website, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit edit'  %></td>
                    <td><%= best_in_place business, :number_of_employees, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :naics_code, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :sic_code, url: admin_business_path(business),:inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :description, url: admin_business_path(business), :inner_class => 'input-small', place_holder: 'edit'  %></td>
                    <td><%= link_to business.geo_id, admin_geo_path(business.geo_id) if business.geo_id.present? %></td>
                    <td id="when"><%= business.updated_at.strftime("%m/%d/%y") -%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate(@businesses) -%>
        </section>
        <br>
        <%= link_to '+ New Business', new_admin_business_path %>
      </div>
    </div>
  </div>
</div>
