<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content company-list">
        <div class="sub">
            <%= link_to "All (#{Business.count})" , admin_businesses_path, class:'sub-item' -%>
            <%= link_to "Ready (#{Business.ready.count})" , admin_businesses_path(duplication_status: 'ready'), class:'sub-item' -%>
            <%= link_to "OK (#{Business.ok.count})" , admin_businesses_path(duplication_status: 'ok' ), class:'sub-item' -%>
            <%= link_to "Dupe (#{Business.dupe.count})", admin_businesses_path(duplication_status: 'dupe'), class:'sub-item' -%>
           <%= link_to 'See User View', businesses_path, class: 'right-link' %>
           <%= link_to 'Export CSV', export_admin_businesses_path(format: :csv), class: 'right-link' -%>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
         <li>
           <div class="collapsible-header"><%= page_entries_info(@businesses) %></div>
              <div class='collapsible-body'>
                <% all_business_scopes.each do |s| %>
                   <%= link_to "#{s.to_s.humanize} (#{Business.send(s).count})", admin_businesses_path + "?#{s}=true" -%><br />
                <% end %>
              </div>
          </li>
        </ul>
       <%= render partial: '/admin/businesses/search'-%>
            <table class="admin-view resizable">
              <thead>
                <%= render partial: 'column_headers' %>
              </thead>
              <tbody>
                <% @businesses.each do |business| %>
                  <tr>
                    <td>
                      <%= business.duplication_status -%>
                      <% if business.ready? or business.ok? %>
                         <%= link_to 'dupe',  admin_business_dupe_path(business), method: :put, class: 'dupe-btn' %>
                      <% end %>
                      <% if business.dupe? or business.ready? %>
                        <%= link_to 'keep',  admin_business_undupe_path(business), method: :put, class: 'keep-btn' %>
                      <% end %>
                      <% if business.last_updated_by_user.present? %>
                          <small>last updated by:
                          <%= business.last_updated_by_user.name %>
                          </small>
                      <% end %>
                    </td>
                    <td><%= best_in_place business, :company_name, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %> </td>
                    <td><%= best_in_place business, :address, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :city, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :state, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :country, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :contact_title, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :contact_first_name, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :contact_last_name, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :email, url: admin_business_path(business), inner_class: 'input-small', place_holder:'edit edit' %></td>
                    <td><%= best_in_place business, :website, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit edit'  %></td>
                    <td><%= best_in_place business, :number_of_employees, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td id="when">
                      <%= business.updated_at.strftime("%m/%d/%y") -%>
                      <%= link_to admin_business_path(business), class: 'b-edit-details' do %> <i class="ion-edit"></i>
                      <% end %>
                    </td>
                    <% if params[:show_divisions].present? and params[:show_divisions] == 'true' %>
                      <td><%= best_in_place business, :division1, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :division2, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :division3, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :division4, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :division5, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <% end %>

                    <% if params[:show_all].present? and params[:show_all] == 'true' %>
                      <td><%= best_in_place business, :phone, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :postal_code, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :description, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :naics_code, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :sic_code, url: admin_business_path(business),inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= link_to business.geo_id, admin_geo_path(business.geo_id) if business.geo_id.present? %></td>
                    <% end -%>
                    
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate(@businesses) -%>
        <br>
        <%= link_to '+ New Business', new_admin_business_path %>
      </div>
    </div>
  </div>
</div>
