<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content company-list">
        <div class="sub">
            <%= link_to "All (#{Business.count})" , admin_businesses_path, class:'sub-item' -%>
            <%= link_to "Ready (#{Business.ready.count})" , admin_businesses_path(duplication_status: 'ready'), class:'sub-item' -%>
            <%= link_to "OK (#{Business.ok.count})" , admin_businesses_path(duplication_status: 'ok' ), class:'sub-item' -%>
            <%= link_to "Dupe (#{Business.dupe.count})", admin_businesses_path(duplication_status: 'dupe'), class:'sub-item' -%>
            <a class="dropdown-button sub-item" href="#!" data-activates="dropdown-scopes">Totals<i class="material-icons right">arrow_drop_down</i></a>
              <ul id="dropdown-scopes" class="dropdown-content dropdown-content-full">
                <%= render partial: '/admin/businesses/scopes'-%>
              </ul>
            <div class="sub-item">
               <a class="dropdown-button sub-item" href="#!" data-activates="dropdown-filters">Filters<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown-filters" class="dropdown-content dropdown-content-full">
                  <h4>Containing</h4>
                    <% with_filters.in_groups_of(6).each do |group| -%>
                      <div class="row">
                        <% group.compact.each do |filter| %>
                          <div class="col s2">
                            <%= check_box_tag filter, 'true', params[filter] == 'true' -%>
                            <%= label_tag filter, filter.to_s.humanize.gsub(/With /, '') -%>
                          </div>
                        <% end %>
                      </div>
                    <% end %>

                <h4>Missing</h4>
                 <% without_filters.in_groups_of(6).each do |group| -%>
                    <div class="row">
                      <% group.compact.each do |filter| %>
                        <div class="col s2">
                          <%= check_box_tag filter, 'true', params[filter] == 'true' -%>
                          <%= label_tag filter, filter.to_s.humanize.gsub(/Without /, '') -%>
                        </div>
                      <% end %>
                    </div>
                <% end %>

              </ul>
            </div>
           <%= link_to 'See User View', businesses_path, class: 'right-link' %>
           <%= link_to 'Export CSV', export_admin_businesses_path(format: :csv), class: 'right-link' -%>
        </div>

        <div class="sub taller">
          <%= render partial: '/admin/businesses/search'-%>
        </div>

          <table class="admin-view resizable">
              <thead>
                <%= render partial: 'column_headers' %>
              </thead>
              <tbody>
                <% @businesses.each do |business| %>
                  <tr class="<%= verification_status_class(business) -%>">
                    <td>
                      <%= business.duplication_status -%>
                      <% if business.ready? or business.ok? %>
                         <%= link_to 'dupe',  admin_business_dupe_path(business), method: :put, class: 'dupe-btn' %>
                      <% end %>
                      <% if business.dupe? or business.ready? %>
                        <%= link_to 'keep',  admin_business_undupe_path(business), method: :put, class: 'keep-btn' %>
                      <% end %>
                      <% if business.last_updated_by_user.present? %>
                          <small>last updated by:
                          <%= business.last_updated_by_user.name %>
                          </small>
                      <% end %>
                    </td>
                    <td><%= best_in_place business, :company_name, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %> </td>
                    <td><%= best_in_place business, :address, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :city, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :state, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :country, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :contact_title, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :contact_first_name, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :contact_last_name, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <td><%= best_in_place business, :email, url: admin_business_path(business), inner_class: 'input-small', place_holder:'edit edit' %></td>
                    <td><%= best_in_place business, :website, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit edit'  %></td>
                    <td><%= best_in_place business, :number_of_employees, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                    <% if params[:show_all].present? and params[:show_all] == 'true' %>
                      <td><%= best_in_place business, :division1, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :division2, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :division3, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :division4, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :division5, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :phone, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :postal_code, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :description, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :naics_code, url: admin_business_path(business), inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= best_in_place business, :sic_code, url: admin_business_path(business),inner_class: 'input-small', place_holder: 'edit'  %></td>
                      <td><%= link_to business.geo_id, admin_geo_path(business.geo_id) if business.geo_id.present? %></td>
                    <% end -%>

                    <td id="when">
                      <%= business.updated_at.strftime("%m/%d/%y") -%>
                      <%= link_to admin_business_path(business), class: 'b-edit-details' do %> <i class="ion-edit"></i>
                      <% end %>
                    </td>

                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate(@businesses) -%>
        <br>
        <%= link_to '+ New Business', new_admin_business_path %>
      </div>
    </div>
  </div>
</div>
