<h4>Assets</h4>
<table>
  <% @cim.cim_assets.each do |cim_asset|-%>
    <tr>
      <td> <%= cim_asset.id -%> </td>
      <td> <%= cim_asset.filename -%> </td>
      <td>
        <%= cim_asset_location(filename: cim_asset.filename) -%>
      </td>
      </div>
      <td> <%= link_to 'delete', private_cim_cim_asset_path(@cim, cim_asset) , class: 'btn' , method: :delete, data: {confirm: "Are you sure you want to delete this asset?" } -%> </td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Uplooad A New Asset', new_private_cim_cim_asset_path(@cim) , class: 'btn' -%>
</p>
