
<div class="row no-margin">
  <div class="col s12 m6">
    <span class="title"><%= link_to buyside.title, my_buyside_path(buyside)  -%></span>
    <p><%= buyside.industry_classifications.collect(&:name).join(', ') %><br>
       Stage: <%= buyside.stage.try(:capitalize) %>
    </p>
  </div>
  <div class="col s12 m3">
  	<span class="title">&nbsp;</span>
    <p class="money">
      $<%= buyside.revenue_lower %>&mdash;<%= buyside.revenue_upper %><span class="mm">MM</span><br />
    </p>
  </div>
  <div class="col s12 m3">
  	<span class="title">&nbsp;</span>
  	<p class="money">
  	  $<%= buyside.ebitda_lower %>&mdash;<%= buyside.ebitda_upper %><span class="mm">MM</span><br />
  	</p>
  </div>
</div>
