<table class="bordered">
  <thead>
    <tr>
      <th><%= buyside.title %></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Industry</td>
      <td><%= buyside.title %></td>
    </tr>

    <tr>
      <td>Stage</td>
      <td><%= buyside.stage %></td>
    </tr>

    <tr>
      <td>Revenue</td>
      <td>
          <%= buyside.revenue_lower %> - <%= buyside.revenue_upper %>
      </td>
    </tr>
    <tr>
      <td>Ebitda</td>
      <td><%= buyside.ebitda_lower %> - <%= buyside.ebitda_lower %> </td>
    </tr>
    <tr>
</tbody>
</table>
