<p id="notice"><%= notice %></p>

<h1>Ebidta</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ebidta.each do |ebidtum| %>
      <tr>
        <td><%= ebidtum.name %></td>
        <td><%= link_to 'Show', ebidtum %></td>
        <td><%= link_to 'Edit', edit_ebidtum_path(ebidtum) %></td>
        <td><%= link_to 'Destroy', ebidtum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ebidtum', new_ebidtum_path %>
