<div class="container">
  <div class="row">
    <div class="col s12 l6 offset-l3">
      <div class="card">
        <div class="card-content">
          <div class="card-title"><%= @event.title %> <%= link_to 'Edit', edit_admin_event_path(@event), class: 'right-link' %></div>
            <p><%= event_photo(@event) %></p><br>
            <p><%= event_time_and_date(@event) %></p>
            <p><%= @event.description %></p>
            <p>
              <br />
              <%= link_to 'back', admin_events_path %>
            </p>
        </div>
      </div>
    <div>
  </div>
</div>
