<div class="container wide admin-nav">
  <nav>
    <div class="nav-wrapper">

    <ul class="left hide-on-med-and-down">

      <li><%= link_to 'Company Database', admin_businesses_path, class: "#{(controller_name == 'businesses') ? 'active' : '' } nav-item" -%></li>
      <li><%= link_to 'Events', admin_events_path, class: "#{(controller_name == 'events') ? 'active' : '' } nav-item" -%></li>
      <li><%= link_to 'Activity', admin_activity_logs_path, class: "#{(controller_name == 'acitvity_logs') ? 'active' : '' } nav-item" -%></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Other<i class="material-icons right">arrow_drop_down</i></a></li>

       <ul id="dropdown2" class="dropdown-content">
        <li><%= link_to 'EBIDTAs', admin_ebidtas_path, class: "#{(controller_name == 'ebidtas') ? 'active' : '' } nav-item" -%></li>
        <li><%= link_to 'Revenues', admin_revenues_path, class: "#{(controller_name == 'revenues') ? 'active' : '' } nav-item" -%></li>
        <li><%= link_to 'NAISCs', admin_industries_path, class: "#{(controller_name == 'industries') ? 'active' : '' } nav-item" -%></li>
        <li><%= link_to 'SICs', admin_sic_codes_path, class: "#{(controller_name == 'sic_codes') ? 'active' : '' } nav-item" -%></li>
        <li><%= link_to 'Orgs', admin_organizations_path, class: "#{(controller_name == 'organizations') ? 'active' : '' } nav-item" -%></li>
       </ul>
       
      </ul>
    </div>
  </nav>
</div>
