        <tr>
           <td><%= format_date_and_time(upload.created_at) %> </td>
           <td>
               <div class="chip in-table">
                <%= avatar_image(upload.user, 'tiny-image') %> <span>
                <%= upload.user.full_name %></span>
               </div>
           </td>
           <td><%= upload.original_file_name %> </td>
           <td><%= link_to pluralize(upload.notes.count, 'note' ), private_deal_room_upload_notes_path(upload)  %> </td>
           <td>
              <%= link_to private_deal_room_deal_room_upload_path(@deal_room, upload), target: '_blank' do %>
                 download
                 <i class="material-icons tiny">swap_vert</i>
              <% end %>
              <% if upload.user == current_user %>
                <%= link_to private_deal_room_deal_room_upload_path(@deal_room, upload),
                    method: :delete,
                    data: {contrim: "Are you sure that you'd like to delete this file?" } do %>
                   <i class="material-icons tiny">delete</i>
                <% end %>
              <% end %>
           </td>
        </tr>
