<% if uploads.any? -%>

  <% if action_name == "index" %>
    <%= form_tag private_deal_room_deal_room_uploads_path(@deal_room), id: "invitations-search" , class: 'search-bar', role: 'search',  method: :get do %>
      <%= text_field_tag :q, params[:q], type: "search", placeholder: "Search" %>
      <%= submit_tag "Search", class: "btn" %>
    <% end %>
  <% end %>

  <table>
    <thead>
      <th>Date</th>
      <th>Uploaded by</th>
      <th>File Name</th>
      <th></th>
    </thead>
    <tbody>
      <% uploads.each do |upload| %>
        <tr>
           <td><%= format_date_and_time(upload.created_at) %> </td>
           <td>
               <%= avatar_image(upload.user, 'tiny-image') %><br />
               <%= upload.user.full_name %>
           </td>
           <td><%= upload.original_file_name %> </td>
           <td>
              <%= link_to private_deal_room_deal_room_upload_path(@deal_room, upload), target: '_blank' do %>
                 download
                 <i class="material-icons tiny">swap_vert</i>
              <% end %>
              <% if upload.user == current_user %>
                <%= link_to private_deal_room_deal_room_upload_path(@deal_room, upload),
                    method: :delete,
                    data: {contrim: "Are you sure that you'd like to delete this file?" } do %>
                   <i class="material-icons tiny">delete</i>
                <% end %>
              <% end %>
           </td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <%= paginate(uploads, param_name: "page" ) if action_name == 'index' %>
<% else  %>
  <p>
   There are no uploads.
  </p>
<% end %>
