  <% if action_name == "index" %>
    <h4>Search</h4>
    <%= form_tag private_deal_room_deal_room_uploads_path(@deal_room), id: "invitations-search" , class: 'search-bar', role: 'search',  method: :get do %>
      <%= text_field_tag :q, params[:q], type: "search", placeholder: "Search" %>
      <%= submit_tag "Search", class: "btn" %>
    <% end %>
  <% end %>

<% if uploads.any? -%>
  <table>
    <thead>
      <th>Date</th>
      <th>Uploaded by</th>
      <th>File Name</th>
      <th>Notes</th>
      <th></th>
    </thead>
    <tbody>
      <% uploads.each do |upload| %>
      <%= render partial: '/private/deal_room_uploads/deal_room_upload', locals: { upload: upload } %>
      <% end %>
    </tbody>
  </table>
   <%= paginate(uploads, param_name: "page" ) if action_name == 'index' %>
<% else  %>
  <p>
   There are no uploaded files <%= params[:q].present? ? "matching your query" : '' -%>.
  </p>
<% end %>
