<%= form_for([:my, @event], html_html: { class: 'col s12 l6 offset-l3' }, builder: Judge::FormBuilder)  do |f| %>

  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.label :title %>
        <%= f.text_field :title, validate: true %>
        <div class="field-error-msg" id="title-error-msg"></div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.label :location %>
        <%= f.text_field :location, validate: true %>
        <div class="field-error-msg" id="event-loc-error-msg"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.select :industry_classification_id, industry_classifications_options, prompt: "Choose Industry"-%>
        <%= f.label :industry_classification_id, "Industry" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.label :photo, "Upload image" %> <br />
        <p>
          <%= f.file_field :photo %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <div class="input-field event_start_date">
        <%= f.label :start_date %>
        <%= f.text_field :start_date, validate: true, class: 'datepicker' -%>
        <div class="field-error-msg" id="event-start-error-msg"></div>
      </div>
    </div>
    <div class="col s6">
      <div class="input-field event_end_date">
        <%= f.label :end_date %>
        <%= f.text_field :end_date, validate: true, class: 'datepicker' -%>
      </div>
    </div>
   </div>

  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.label :tags %>
        <%= f.text_field :tag_list, value: f.object.tag_list.to_s  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="input-field">
      <%= f.button :Create, id: 'submit-event', class: 'btn' %>
     </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
$(document).on('turbolinks:load', function() {

   var successBorder = '1px solid #20b05d';
   var successShadow = '0 1px 0 0 #20b05d';

   var errorBorder = '1px solid red';
   var errorShadow = '0 1px 0 0 red';

   $('#event_title').blur(function() {
    judge.validate(document.getElementById('event_title'), {
      valid: function(element) {
        element.style.borderBottom = successBorder;
        element.style.boxShadow = successShadow;
        $('#submit-event').prop( "disabled", false);
        $('#title-error-msg').html('');
      },
      invalid: function(element, messages) {
        element.style.borderBottom = errorBorder;
        element.style.boxShadow = errorShadow;
        $('#submit-event').prop( "disabled", true);
        $('#title-error-msg').html('Title ' + messages);
       }
     });
  });

  $('#event_location').blur(function() {
    judge.validate(document.getElementById('event_location'), {
      valid: function(element) {
        element.style.borderBottom = successBorder;
        element.style.boxShadow = successShadow;
        $('#submit-event').prop( "disabled", false);
        $('#event-loc-error-msg').html('');
      },
      invalid: function(element, messages) {
        element.style.borderBottom = errorBorder;
        element.style.boxShadow = errorShadow;
        $('#submit-event').prop( "disabled", true);
        $('#event-loc-error-msg').html('Location ' + messages);
       }
     });
  });

  $('button.btn-flat').click(function() {
    console.log('clicked');
    judge.validate(document.getElementById('event_start_date'), {
      valid: function(element) {
        element.style.borderBottom = successBorder;
        element.style.boxShadow = successShadow;
        $('#submit-event').prop( "disabled", false);
        $('#event-start-error-msg').html(' ');
      },
      invalid: function(element, messages) {
        element.style.borderBottom = errorBorder;
        element.style.boxShadow = errorShadow;
        $('#submit-event').prop( "disabled", true);
        $('#event-start-error-msg').html('Start Date ' + messages);
       }
     });
  });

});
</script>
