<div class="container">
  <div class="row">
    <div class="col s12 l6 offset-l2">
      <div class="card">
        <div class="card-content">
    	  <div class="card-title"><%= @event.title %> </div>
    	  <p><%= event_photo(@event) %></p>
    	  <br>
    	  <p><%= event_time_and_date(@event) %></p>
    	  <p><%= @event.description %></p>
    	  <br>
    	  <p><%= link_to 'Edit', edit_my_event_path(@event) %>  <%= link_to 'My Events', my_events_path, class:'right-link' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
