<div class="row">
  <div class="col s5">
  <h3>All CIMS</h3>
   <table>
      <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @cims.each do |cim| %>
            <tr>
               <td><%= cim.name %>
                 <%= link_to 'View', private_cim_path(cim), class: 'btn' %>
                 <%= link_to 'Edit', edit_private_cim_path(cim) %>
                 <%= link_to 'Delete', private_cim_path(cim) , method: :delete, data: { confirm: 'Are you sure you want to destroy this CIM?' } %>
                 <%= link_to 'Users', private_cim_users_path(cim)  -%> (<%= cim.cim_authorizations.count -%>)
                 <%= link_to 'Visits', private_cim_cim_accesses_path(cim)  -%> (<%= cim.cim_accesses.count -%>)
               </td>
             </tr>
           <% end %>
         </tbody>
       </table>
       <p><%= link_to 'Create a new CIM', new_private_cim_path, class: 'btn' %></p>
  </div>
</div>
