    <!-- SIDE Left panel -->
    <div id="slider" class="panel">
      <div id="trigger" class="menu-link-wrapper">
        <div class="menu-link">
          <span class="lines"></span>
        </div>
      </div>
      <div class="head">Contents</div>
      <div class="side-nav">
        <a class="section selector" href="#slide=5">
        1. EXECUTIVE SUMMARY
        </a>
        <a class="selector" href="#slide=7">
          1.1. Investment Considerations
        </a>
        <a class="selector" href="#slide=8">
          1.2. Financial Summary
         </a>
        <a class="selector" href="#slide=9">
          1.3. Transaction Summary
        </a>
        <a class="selector" href="#slide=10">
          1.4. Transaction Process
        </a>
        <a class="selector section" href="#slide=11">
          2. MARKET OVERVIEW
        </a>
        <a class="selector" href="#slide=17">
          2.1 Cancer Incidence and Mortality Statistics 
        </a>
        <a class="selector" href="#slide=19">
          2.2 Interventional Oncology – Ablation Therapy
        </a>
        <a class="section selector" href="#slide=22">
          3. Company Overview
        </a>
        <a class="section selector" href="#slide=22">
          3.1 Innovahealth's Focus
        </a>
        <a class="section selector" href="#slide=23">
          4. INNOVAHEALTH’S OFFERINGS
        </a>
        <a class="selector" href="#slide=25">
          4.1. Current Platforms
        </a>
        <a class="selector" href="#slide=28">
          4.2. Product and Technology Roadmap
        </a>
        <a class="selector section" href="#slide=36">
         5. OPERATIONAL DETAILS
        </a>
        <a href="#slide=37">
         5.1 Facility Details
        </a>
        <a href="#slide=38">
         5.2 Sales and Marketing
        </a>
        <a class="selector" href="#slide=39">
         5.3 Customers
        </a>
        <a class="selector" href="#slide=40">
         5.4 Management and Employees
        </a>
        <a class="selector" href="#slide=43">
         5.5 Competive Landscape
        </a>
        <a class="selector" href="#slide=46">
         5.6 Intellectual Property
        </a>
        <a class="selector" href="#slide=50">
         5.7 Certifications
        </a>
        <a class="section" href="#slide=51">
         6. Financial Information
        </a>
      </div>
    </div>

    <main role="main" id="panel">
      <time>
        <%= image_tag('cim/valtari-abc.png') %>
      </time>

      <article id="webslides">

        <!-- Quick Guide
          - Each parent <section> in the <article id="webslides"> element is an individual slide.
          - Vertical sliding = <article id="webslides" class="vertical">
          - <div class="wrap"> = container 1200px
        -->

        <section class="slide bg-violet">
          <!--.wrap = container 1200px -->
          <span class="background front-page"></span>

            <div class="wrap size-50">
              <h2>InnovaHealth Corporation</h2>
              <p class="text-intro">Information Memorandum<br>Valtari O&Uuml;, January 2017</p>
              <div class="content-left fadeInUp">
                <p><%= image_tag('cim/valtari.png', class: 'logo' ) %>
              </div>
              <!-- .end .content-left -->
              <div class="content-left fadeInUp">
                <p><%= image_tag('cim/innova.png', class: 'logo' ) %>
              </div>
              <!-- .end .content-left -->
            </div>
            
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="slide bg-white">
          <!--.wrap = container 1200px -->
          <div class="wrap size-80">
            <h3>General Information</h3>
              <ul class="flexblock">
              <li>
                <div>
                  <h2>
                    Ross Bureau
                  </h2>
                  Principal <br>
                  rbureau@valtari.com<br>
                  Tel: +1 312 555 1919
                </div>
              </li>
              <li>
                <div>
                  <h2>
                   Jaycob Crisp
                  </h2>
                    Managing Partner <br>
                    jcrisp@valtari.com<br>
                    Tel: +1 312 555 8888
                    </paragraph>
                </div>
              </li>
              <li>
                <div>
                  <h2>
                    Armin Garver
                  </h2>
                  Managing Partner <br>
                  agarver@valtari.com<br>
                  Tel: +1 312 555 0202
                  </paragraph>
                </div>
              </li>
              <li>
                <div>
                  <h2>
                    Jody Windsor
                  </h2>
                Consulting Partner<br>
                jwindsor@valtari.com<br>
                Tel: +1 312 555 0404
                </div>
              </li>
              <li>
                <div>
                 <h2>Valtari O&Uuml;</h2>
                  Franklin 51<br>
                  60486 Frankfurt Germany<br>
                  info@valtari.com<br>
                  Tel: +1 800 705 2592<br>
                  <%= image_tag('cim/valtari.png') %>
                </div>
              </li>
            </ul>
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-white slide">
          <!--.wrap = container 1200px -->
          <div class="wrap size-80">
              <h3>Disclaimer</h3>
              <br>
               <div class="content-left">
              <p>
              This Confidential Information Memorandum (the “Memorandum”) has been prepared by Valtari (“Valtari”) solely for informational purposes from materials supplied to Valtari by InnovaHealth (“InnovaHealth” or the “Company”). <br><br>
              This Memorandum relates to the possible sale of the Company. This Memorandum is being furnished through Valtari as the Company’s exclusive acquisition advisor, solely for use by prospective purchasers in considering an acquisition of the Company. <br><br>
              This Memorandum has been prepared to assist interested parties in making their own evaluation of InnovaHealth and does not purport to contain all of the information that a prospective purchaser may desire. In all cases, interested parties should conduct their own investigation and analysis of InnovaHealth and the data set forth in this Memorandum. 
              </p>
              <p>
                Valtari has not independently verified the accuracy and completeness of any of the information, contained in this Memorandum. 
              <br><br>
               Neither Valtari, the Company or its subsidiaries, nor their respective affiliates, directors, officers, employees, representatives or agents makes any representation or warranty as to the accuracy or completeness of this Memorandum, or any supplemental information furnished in connection herewith, and none of the foregoing shall have any liability for any representations (express or implied) contained in, or for any omissions from, this Memorandum, any supplemental information furnished in connection herewith or any other written or oral communication transmitted to the recipient in the course of the recipient’s evaluation of InnovaHealth. 
              <br><br>
                Neither Valtari, the Company or its subsidiaries, nor their respective affiliates, directors, officers, employees, representatives or agents, undertakes any obligation to provide additional information or to correct or update any of the information set forth in this Memorandum.
              </div>
              <div class="content-left">
                <p>
              By accepting this Memorandum, the recipient acknowledges and agrees that all information contained herein and all other information provided by Valtari, or the Company related thereto is subject to the terms of the confidentiality agreement previously executed by the recipient regarding this Memorandum. <br><br>Without limiting the generality of the foregoing, (i) the recipient will not reproduce this Memorandum, or such other information, in whole or in part, and will use this Memorandum and such other information solely for purposes of evaluating the recipient’s interest in acquiring InnovaHealth and (ii) if the recipient does not wish to pursue this matter,the recipient will promptly return this Memorandum and such other information, if any, to Valtari, together with any other materials relating to InnovaHealth which the recipient may have received from either Valtari, InnovaHealth, the Company or its subsidiaries, or their respective affiliates, directors, officers, employees, representatives or agents, as well as any notes or written materials prepared by the recipient. 
             </p>
              <p> InnovaHealth reserves the right to negotiate with one or more prospective buyers at any time and to enter into a definitive agreement for the sale of InnovaHealth or any components thereof without prior notice to the recipient of this Memorandum or other prospective purchasers. <br><br>
              InnovaHealth also reserves the right to terminate, at any time, solicitation of indications of interest for the acquisition of InnovaHealth or the further participation in the investigation and proposal process by any party. Finally, InnovaHealth reserves the right to modify, at any time, any procedures relating to such process without assigning any reason thereto. The Company intends to conduct business in the ordinary manner during the evaluation period; however, InnovaHealth reserves the right to take any action, whether or not in the ordinary course of business, including but not limited to the sale of any assets of the Company, which it deems necessary or prudent in the conduct of such business. 
            </p>  
          </div>
            
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-white slide">
          <div class="wrap size-80">
          <h3>Table of Contents</h3>
          <hr>
            <div class="content-left">
              <div class="toc">
              <ol>
                <li>
                  <a href="#slide=5" title="Go to Learning to see">
                  <span class="chapter">Executive Summary</span>
                  <span class="toc-page">5</span>
                  </a>
                  <ol>
                    <li><a href="#slide=7" title=""><span class="chapter">Investment Considerations</span>
                      <span class="toc-page">7</span></a>
                    </li>
                    <li><a href="#slide=8" title=""><span class="chapter">Financial Summary</span>
                      <span class="toc-page">8</span></a>
                    </li>
                    <li><a href="#slide=9" title=""><span class="chapter">Transaction Summary</span>
                      <span class="toc-page">9</span></a>
                    </li>
                    <li><a href="#slide=10" title=""><span class="chapter">Transaction Process</span>
                      <span class="toc-page">10</span></a>
                    </li>
                  </ol>
                </li>
                <li><a href="#slide=11" title="Market Overview"><span class="chapter">Market Overview</span>
                  <span class="toc-page">11</span></a>
                  <ol>
                    <li><a href="#slide=12" title=""><span class="chapter">Cancer Incidence and Mortality Statistics</span>
                      <span class="toc-page">12</span></a>
                    </li>
                    <li><a href="#slide=17" title=""><span class="chapter">Interventional Oncology &mdash; Ablation Therapy</span>
                      <span class="toc-page">17</span></a>
                    </li>
                  </ol>
                </li>
                <li>
                  <a href="#" title=""><span class="chapter">Company Overview</span>
                  <span class="toc-page">19</span></a>
                  <ol>
                    <li><a href="#" title=""><span class="chapter">InnovaHealth's Focus</span>
                      <span class="toc-page">22</span></a>
                    </li>
                  </ol>
                </li>
                <li><a href="#slide=11" title="Market Overview"><span class="chapter">Innovahealth's Offerings</span>
                  <span class="toc-page">23</span></a>
                  <ol>
                    <li><a href="#slide=25" title=""><span class="chapter">Current Platforms</span>
                      <span class="toc-page">25</span></a>
                    </li>
                    <li><a href="#slide=28" title=""><span class="chapter">Product and Technology Roadmap</span>
                      <span class="toc-page">28</span></a>
                    </li>
                  </ol>
                </li>
              </ol>
            </div>
          </div>
          <div class="content-left">
            <div class="toc">
               <ol>
                <li class="hard-code5">
                  <a href="#slide=36" title=""><span class="chapter">Operational Details</span>
                  <span class="toc-page">36</span></a>
                  <ol>
                    <li class="one"><a href="#slide=25" title=""><span class="chapter">Facility Details</span>
                      <span class="toc-page">37</span></a>
                    </li>
                    <li class="two"><a href="#slide=28" title=""><span class="chapter">Sales and Marketing</span>
                      <span class="toc-page">38</span></a>
                    </li>
                    <li class="three"><a href="#slide=25" title=""><span class="chapter">Customers</span>
                      <span class="toc-page">39</span></a>
                    </li>
                    <li class="four"><a href="#slide=28" title=""><span class="chapter">Management and Employees</span>
                      <span class="toc-page">40</span></a>
                    </li>
                    <li class="five"><a href="#slide=25" title=""><span class="chapter">Competitive Landscape</span>
                      <span class="toc-page">43</span></a>
                    </li>
                    <li class="six"><a href="#slide=46" title=""><span class="chapter">Intellectual Property</span>
                      <span class="toc-page">46</span></a>
                    </li>
                    <li class="seven"><a href="#slide=50" title=""><span class="chapter">Certifications</span>
                      <span class="toc-page">50</span></a>
                    </li>
                  </ol>
                </li>
                <li class="hard-code6">
                  <a href="#slide=51" title="Go to Learning to see">
                  <span class="chapter">FINANCIAL INFORMATION</span>
                  <span class="toc-page">51</span>
                  </a>
                </li>
               <li class="hard-code7">
                  <a href="#slide=54" title="Go to Learning to see">
                  <span class="chapter">1. APPENDIX</span>
                  <span class="toc-page">54</span>
                  </a>
                </li>
              </ol>
              </div>
            </div>

          </div>
        </section>
        <section class="bg-violet">
          <div class="wrap">
            <div class="cta">
              <div class="number">
                <p><span>1</span></p>
              </div>
              <!--end .number -->
              <div class="benefit">
                <p class="text-subtitle"></p>
                <h2>Executive Summary</h2>
                
              </div>
              <!--end .benefit -->
            </div>
            <!--end .cta -->
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-white">
          <div class="wrap size-80">
            <h3>1. Executive Summary</h3>
            <p class="text-intro">InnovaHealth Corporation is an innovative medical device company.</p>
              <div class="content-left">
                <p>
                  InnovaHealth is a leading innovator in the field of robotic assisted image guided interventional therapies. The Company is a world leader in developing planning and targeting solutions for image guided interventional procedures, with an emphasis on oncology and pain care. <br>
                </p>
              </div>
            <!-- end .content-left -->
              <div class="content-left">
                <p>These solutions are used in procedures like biopsy, drug delivery, ablation, drainage, fine needle aspiration, and in varied pain care procedures for both cancerous and non-cancerous pain. The Company has a global presence with its robotic systems already placed in the U.S., EU, and Asia.  
                </p>
               <br>
              </div>
            <!-- end .content-left -->
          </div>

 
          <div class="wrap size-80">
            <br>
            <div class="bg-gradient-h fact-padding">
            <br><h3 class="text-intro">Fact Sheet</h3><br>
              <ul class="description">
              <li><span class="text-label">Revenue (2016):</span> $3.75 million</li>
              <li><span class="text-label">Year of Incorporation:</span> 2008</li>
              <li><span class="text-label">Location:</span> Chicago, Illinois (USA)</li>
              <li><span class="text-label">Chief Executive Officer:</span> Carl Sagan</li>
              <li><span class="text-label">Investors:</span> Goldman, Bair Capital, and Erasmus (now Azul)</li>
              <li><span class="text-label">Patents:</span> 6 US patents; and 4 patent patents licensed from NASA</li>
              <li><span class="text-label">Website:</span> <a href="www.google.com" target="_blank">innovahealth.com</a></li>
              </ul>
            </div>
          </div>

          <!-- .end .wrap -->
        </section>
        <section class="bg-white">
          <div class="wrap size-80">
            <h3> 1.1 Investment Considerations</h3>
          <br>
          <ul class="flexblock activity">
              <li>
                <a href="#" title="UX Designer at ACME">
                  <div>
                    <p class="title">
                      Experienced Management Team
                    </p>
                    <p class="summary">
                      InnovaHealth’s management team consists of former GE Healthcare and Siemens executives, who have decades of experience in the medical devices industry.
                    </p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" title="14 world famous buildings to inspire you">
                  <p class="title">
                   Intellectual Property and Patent Portfolio
                  </p>
                  <p class="summary">
                    InnovaHealth currently has four patents and has licensed another four from NASA as part of its tissue characterization technology development.
                  </p>
                </a>
              </li>
              <li>
                <a href="#" title="Co-Founder of GAMMA">
                  <p class="title">
                    Innovative Products
                  </p>
                  <p class="summary">
                    Products such as NAXOS [NAVIO], a cloud based version of DASAM [MAXIO] treatment planning software that offers remote planning capability to minimizep procedure room-time, and AUDIFY [SONIO], a self-contained Ultrasound Guided Tumor Ablation Suite for liver and renal procedures, are at an advanced stage of development.
                  </p>
                </a>
              </li>
              <li>
                <a href="#" title="Co-Founder of GAMMA">
                  <p class="title">
                    Capabilities in Ablation Procedures
                  </p>
                  <p class="summary">
                    Ablation Therapies are becoming more popular because of their lower costs and high tolerance among patients. InnovaHealth’s platforms, ALLTRA EX™  and DASAM, are used for image guided ablation procedures.
                  </p>
                </a>
              </li>
              <li>
                <a href="#" title="Co-Founder of GAMMA">
                  <p class="title">
                    Significant Market Opportunities
                  </p>
                  <p class="summary">
                    A key opportunity for market growth exists in the segment of Pain Management procedures and use of robotics in cancer treatment procedures. Moreover, specific niches within markets such as ultrasound have higher growth potential. The Company appears to be in a good position to capture these markets. 
                  </p>
                </a>
              </li>
              <li>
                <a href="#" title="Co-Founder of GAMMA">
                  <p class="title">
                    Emerging Market Presence
                  </p>
                  <p class="summary">
                    The Company has a well run emerging market manufacturing location. With the ability to rapidly expand DASAM today (and AUDIFY soon) into China and other emerging markets, InnovaHealth provides a platform for emerging market growth. 
                  </p>
                </a>
              </li>
            </ul>


              <!--end .benefit -->
            </div>
            
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-white ">
          <div class="wrap size-80">
            <h3>1.2 Financial Summary</h3>
            <p class="text-intro">A snapshot of the Company’s expected earnings in two scenarios &mdash; based on the current investment path and on the strategic investment possibility.</p>
            <div class="canvas-wrap">
              <canvas id="canvas1"></canvas>
            </div>
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-white ">
          <div class="wrap size-80">
            <h3>1.3 Transaction Summary</h3>
            <p class="text-intro">The Company is looking for Series E funding and plans to raise $14–$17 million</p>
            <p>According to Valtari estimates for January 2017, the expected current market valuation for InnovaHealth is $68 million to $145 million, and the Company has the potential of achieving annual revenues of $100 million by 2024. The Company is backed by investors like Goldman, Bair Capital and Erasmus (now Azul). InnovaHealth is seeking strategic partners for the growth of engineering capabilities and development of new suites of products. </p>

           
            <strong>The Company plans to use the funds for the following:</strong><br>
            <div class="bg-white shadow">
              <ul class="flexblock reasons">
                <li>
                  <h2>Growth of Existing Engineering Design Operations</h2>
                  <div>
                  <ul>
                    <li>Ramp-up the Company’s existing platform DASAM’s revenue in existing markets</li>
                    <li>Build China operations for DASAM – 2017</li>
                    <li>Launch pay-per-use models in EU & USA – 2017</li>
                  </ul>
                  </div>
                </li>
                <li>
                  <h2>New Product Introductions with Existing Engineering Design Models / Variants</h2>
                  <ul>
                    <li>Introduce DASAM Suite and build disposable revenue model – 2017</li>
                    <li>Introduce NAXOS™ and NAXOS Suite – 2017 </li>
                  </ul>
                </li>
                <li>
                  <h2>Introduction of New Platforms for Near Future Revenue Lines</h2>
                  <ul>
                    <li>Introduce AUDIFY™ in multiple markets – 2018</li>
                    <li>PROSCISET®: Obtain regulatory certification; introduction in select markets – 2019/20</li>
                  </ul>
                </li>
              </ul>
            </div>
            <br><br><br>
             <strong>Some of the significant opportunities for a strategic investor include:</strong><br><br>
             <ul class="nice">
              <li><strong>Ultrasound Market Expansion:</strong>&nbsp;
              Specific niches within the Ultrasound market have higher growth rates. The ability to perform “image guided” procedures with AUDIFY will expand market opportunity for major Ultrasound players.</li>
              <li><strong>Software Sales and Service:</strong>&nbsp;
              Some potential strategic acquirers may already have established software sales and service businesses based on SaaS models. NAXOS, which is at an advanced stage of development, may provide potential for rapid market expansion with minimal additional investment.</li>
              <li>
              <strong>Ablation and Pain Market Expansion:</strong>&nbsp;
              Some potential strategic acquirers may have established capabilities in ablation. These acquirers can enhance their growth opportunities by realizing more revenues by utilizing the InnovaHealth platforms. 
              A key opportunity for medical market growth is in the segment of Pain Management procedures. Many strategic acquirers will have the bandwidth and capability to perform the market development activities to take advantage of this procedural growth.</li>
              <li>
              <strong>Market Development Opportunity for Spine:</strong>&nbsp;
              InnovaHealth is developing a spine surgery platform for which it has partnered with Mayo Health Clinic and the University of Chicago Hospital. Potential strategic acquirers may benefit from developing a market for this product.
              </li>
              <li>
              <strong>Emerging Market Manufacturing Footprint:</strong>&nbsp;
              Synergistic possibilities may exist between InnovaHealth and a strategic company with existing emerging market operations. InnovaHealth’s growing footprint in emerging markets like China and India, as well as its manufacturing location in India can make for a good strategic fit for such an acquirer.</li>
              <li>
              <strong>FDA Approved and CE Marked Solutions:</strong>&nbsp;
              InnovaHealth’s solutions in interventional oncology and robotics assisted navigation are cleared by US-FDA, European CE, Japanese PMDA and Chinese FDA among others. 
              </li>
             </ul>
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-white">
          <div class="wrap size-80">
            <h3> 1.4 Transaction Process</h3>
            <ul class="flexblock steps">
              <li>
                <h2>Step 1: Indication of Interest</h2><br>
                <p>Interested may submit a written indication of interest (“Indicationparties s”) no later than 5:00 pm EST on January 30, 2017 detailing: </p>
                <ul>
                  <li>
                    Proposed purchase price. 
                  </li>
                  <li>
                    Proposed transaction structure. 
                  </li>
                  <li>
                    Detailed due diligence and information request list, including the amount of time required to complete the due diligence procedure. 
                  </li>
                  <li>
                    Any material terms or conditions that a proposal would be subject to. 
                  </li>
                  <li>
                    Detail of any anticipated corporate or regulatory approvals and associated timelines. 
                  </li>
                </ul>
              </li>

              <li>                
                <div class="process step-2"></div>
                <h2>Step 2: Due Diligence</h2><br>
               <ul>
                <p>Following the receipt of indications, Valtari will notify a limited number of parties (“Invited Parties”) that they have been invited to continue to work towards a transaction. Invited Parties will have the opportunity to conduct additional due diligence, including: 
                </p>
                <li>Access to certain members of the Company’s management team. </li>
                <li>Access to a data room containing additional business and legal information. </li>
               </ul>
               <br>
                <p>This overview may include certain forward-looking statements and estimates, which are based on assumptions by InnovaHealth that may or may not prove to be correct, and the business contains various risks and uncertainties. Accordingly, there can be no assurances that such statements or estimates are accurate, and actual results may vary materially. This overview is not, nor is it intended to be, an offer to purchase any assets of InnovaHealth Corporation.</p>
              </li>
            </ul>
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-violet">
          <div class="wrap">
            <div class="cta">
              <div class="number">
                <p><span>2</span></p>
              </div>
              <!--end .number -->
              <div class="benefit">
                <p class="text-subtitle"></p>
                <h2>Market Overview</h2>
                
              </div>
              <!--end .benefit -->
            </div>
            <!--end .cta -->
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-white">
          <div class="wrap size-90">
            <h3>2. Market Overview</h3>
            <p class="text-intro">One in seven deaths throughout the world is caused due to cancer.</p>
              <small><strong>Projections of all cancers in 2030 by HDI and sex (millions), worldwide</strong></small>
              <br><br>
              <div class="inline-canvas2">
                <canvas id="canvas12-2" width="760" height="500"></canvas>
                <div class="labels"><span>High HDI</span><span>Medium HDI</span><span>Low HDI</span></div>
              </div>
              <div class="inline-canvas">
                <canvas id="canvas2" width="300" height="500"></canvas>
                <div class="labels"><span></span></div>
              </div>
              <br><br><small style="text-align:center">Total projected 2030 incidence: <b>males 12.85, females 10.77, both 23.62</b></small>

          </div>
          <!-- end .wrap-->
        </section>
        <section class="bg-white">
          <div class="wrap size-80">
    
              <h5>Estimated age standardized incidence rates for cancer across (per 100,000).</h5>
              <small>Source: Globocan 2012; Data for all cancers excluding non-melanoma skin cancer</small>

              <div style="height:1200px">
                <canvas id="canvas3" height="1200" width="0"></canvas>
              </div>
            
          </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-white">
          <div class="wrap size-90">
            <h3>World cancer cases 2012 per 100,000 population</h3>
            <small>Source: World Health Organization</small>
            <div id="geochart-incidence" class="geo-map"></div>
            <br><br><br>

           
            <div class="content-left">
              <strong>Geographical Distribution of Estimated Cancer Cases</strong><br>
              <small>Source: World Health Organization</small>
              <br>
              <div class="chart-wrapper">
                <div id="pieChart14" class="pie-wrapper"></div>
              </div>
              <br><br><br><br>
            </div>
            <div class="content-left">
              <strong>Cancer accounted for 8.8 million deaths in 2015. The most common cancer deaths are cancers of:</strong><br>
              <small>Source: World Health Organization</small>
              <div class="chart-wrapper">
                <canvas id="canvas14" height="300" width="500"></canvas>
              </div>
            </div>
          </div>
          <!-- .end .wrap -->

        </section>
        <section class="bg-white">
          <div class="wrap size-90">
            <h3>Asia Incidences</h3>
            <p class="text-intro">The total number of cases in Asian countries is almost half of all the cancer cases in the world.<br> This can be attributed to an increasing number of cases in China and India.</p>
            
            <div class="clear">
              <div class="content-left"><p>China and India are among the countries hit hardest by cancer. China is estimated to have the highest number of cancer incidences in the world. It also accounts for more than a quarter of deaths caused by cancer globally. The most common types of cancer in China are: Breast (13.8%), Lung (12.1%), Stomach (11.8%) and Colorectum (11.6%).</p>
              </div>
              <div class="content-left"><p>China is expected to spend approximately $1tn by 2020 on healthcare (Source: McKinsey). A large proportion of this spending is expected to be focused on cancer treatments.</p>
              </div>
            </div>
              <br><br>
            <div class="clear-float">
              <div class="content-left">
                <div class="chart-wrapper">
                  <strong>Geographical Distribution of Estimated Deaths</strong>
                  <div id="pieChart15" class="pie-wrapper"></div>
                </div>
              </div> 
              <div class="content-left">
                <div class="chart-wrapper">
                 <strong>Geographical Distribution of New Cases in 2012</strong>
                 <div id="pieChart15two" class="pie-wrapper"></div>
                </div>
              </div>
            </div>
        </div>
          <!-- .end .wrap -->
        </section>
        <section class="bg-white">
          <div class="wrap size-80">
            <h5>China accounts for 52% of total deaths from cancer in Asia. The number of deaths in China due to cancer is expected to increase by 50% by 2025.</h5>
            <div class="clear-float">
              <div class="content-left padding"><p>China and India jointly account for 65% of the total deaths due to cancer in Asia. There are 3 million cancer patients in India. India reports 1.23 million new cases of cancer each year. The country loses 3 lives every 2 minutes to cancer. This has put a huge burden on the GDP of the country. Estimates suggest that India loses $12B annually due to cancer. The current infrastructure for cancer treatment in India constitutes mostly of State Cancer Institutes and Regional Cancer Centers.</p>
              </div>
              <div class="content-left padding"><p>However, due to large population size of the country, these facilities are unable to cater to all the patients. Since 2012, India has started investing heavily in Oncology centers. Under the National Cancer Control Program (NCCP), 3 NCIs, 30 SCIs, 50 Tertiary Cancer centers and approximately 700 District Cancer Centers have been established.</p>
              </div>
            </div>
            <div class="chart-wrapper">
              <strong>Geographic Distribution of Cancer Cases in Asia – 2012</strong>
              <small>Source: Globocan 2012</small>
              <div id="pieChart16" class="pie-wrapper"></div>
            </div>
          </div>
        </section>
        <section class="bg-white">
            <div class="wrap size-80">
              <h3>2.2 Interventional Oncology &mdash; Ablation Therapy</h3>
              <div class="content-left padding">
                <h5>The main types of cancer treatments include:</h5>
                <ul class="text-size">
                  <li>Surgery</li>
                  <li>Radiation Therapy</li>
                  <li>Chemotherapy</li>
                  <li>Immunotherapy</li>
                  <li>Targeted Therapy</li>
                  <li>Hormone Therapy</li>
                  <li>Stem Cell Transplant </li>
                  <li>Precision Medicine</li>
                </ul>
                <br><br>
                <p class="tight"><u>Types of Ablative Therapy</u><p>
                 <strong>Cryoablation:</strong> Cryoablation is also known as cryotherapy or cryosurgery. A special probe is inserted into the tumor and then cooled to temperatures well below freezing. A ball of ice forms at the tip of the probe, freezing and destroying cancerous tissue. Cryotherapy is not as invasive as surgery, and can sometimes be performed as an outpatient procedure. Cryotherapy is currently used to treat prostate and kidney cancers. 
                 <br><br>
                 <strong>Radiofrequency Ablation (RFA):</strong>  A needle-thin probe delivers radiofrequency waves directly to the tumor, heating the tissue until it is destroyed. Radiofrequency ablation is best for smaller, localized tumors. RFA can be used to treat a variety of cancers such as bone cancer, liver cancer, lung cancer and kidney cancer.
                </p>
              </div>
              <div class="content-left padding">
                <h5>Advantages of Ablative Therapy:</h5>
                  <ul class="text-size">
                    <li>Causes minimal pain</li>
                    <li>Has a shorter recovery time than surgery or radiation therapy</li>
                    <li>Usually does not require an overnight hospital stay</li>
                    <li>Can also be used in conjunction with other cancer treatments</li>
                  </ul>
                  <br><br>
                  <div class="chart-wrapper">
                    <strong>Inoperable Cancer Cases</strong>
                    <div id="pieChart17" class="pie-wrapper"></div>
                  </div>
                  <br><br><br>
                   <p>
                <strong>Interventional Oncology (IO)</strong> is a rapidly evolving stream of cancer therapy that is opening new dimensions in curative and palliative care in oncology. IO involves treating tumors under Image Guidance in a minimally invasive manner. Tumor Ablation is one such IO therapy, where an ablative energy like Radio Frequency [RF], Microwave, Cryo or Electrical energy is delivered to the tumor using needle like instruments called electrodes. </p>
                <p>Over the past 15-20 years, Tumor Ablation has been established as an effective therapy for inoperable tumors in liver, lung, pancreas, kidney etc., with 5-yr survival rates comparable to surgery. </p>
                <p>Ablation therapy uses heat or cold to destroy, or ablate, cancer tumors without the need for more invasive surgery. Special probes are used to deliver ablative treatments directly to the tumor. The surgeon relies on computer imaging to guide the probes to the correct position and monitor the progress of the treatment. </p>
                <p>
                Today, ablation is often offered as an alternate to surgery even for operable tumors. While historically ablation was assigned to tumors under 3cm, with newer ablative technologies, ever improving protocols, image fusion planning and assisted navigation, physicians are able to treat larger tumors with ablation, as effectively as smaller tumors.  Tumor Ablation doesn’t involve resection, has negligible side effects, minimum patient downtime and is often offered as a day procedure.</p>
                <p>
                Given the nature of the disease, recurrent tumors can be repeatedly ablated as needed, since the procedure is well tolerated unlike Radiation or Chemotherapy whose toxicity limit the extent to which they can be offered.</p>
              </p>
              </div>
             
            </div>
        </section>
        <section class="bg-white">
          <div class="wrap size-80">
            <div class="clear-float">
              <div class="content-left">
                <h5>High Intensity Focused Ultrasound for Prostate Cancer</h5>
                <p>Also known as HIFU, this procedure is used to treat prostate cancer. A special probe uses high-frequency ultrasound to produce heat that kills cancerous tumors. The probe is inserted into the rectum and guided to the proper position using computer imaging. HIFU can either treat the entire prostate ("full" HIFU) or just certain portions ("focused" HIFU) and the procedure takes from 1-4 hours.</p>
                <p>
                HIFU has been used in Europe, particularly the United Kingdom, to treat prostate cancer for about 10 years. However, it is not currently approved by the Food & Drug Administration for use in the United States.
                </p><br>
              </div>
              <div class="content-left">
                <h5>Tumor Ablation Therapy for Inoperative Tumors</h5>
                <p>
                Tumor Ablation Therapy uses thermal and non-thermal energies to destroy the tumor, and is performed under image guidance. The therapy is effective for solid tumors such as liver, lung, kidney, bone, pancreas, prostate and breast. Advantages of Tumor Ablation Therapy are:   
                </p>
                <ul class="text-size">
                  <li>Minimally invasive</li>
                  <li>Targeted on the tumor</li>
                  <li>Well tolerated</li>
                  <li>Repeatable if disease recurs</li>
                </ul>
            </div>
          </div>
          
          <table style="font-size:1.3rem">
            <thead style="color:white;">
             <tr>
              <th style="background:white"></th>
              <th>Radiation</th>
              <th>Chemo-Therapy</th>
              <th>Surgery</th>
              <th style="background:#0078b4">Ablation</th>
             </tr>
            </thead>
            <tbody>
              <tr>
                <td>5-year Disease Free Survival Rate</td>
                <td>11%</td>
                <td>23%</td>
                <td>50+%</td>
                <td style="background:rgba(0, 120, 180, 0.24)">50+%</td>
              </tr>
              <tr>
                <td>$4&mdash;8K</td>
                <td>$5&mdash;8K</td>
                <td>$10K for partial liver resection</td>
                <td>$30&mdash;40K for transplant</td>
                <td style="background:rgba(0, 120, 180, 0.24)">$3K</td>
              </tr>
              <tr>
                <td>Delivery</td>
                <td>Multiple fractions, multiple visits</td>
                <td>Multiple cycles, multiple visits</td>
                <td>Hospitalization</td>
                <td style="background:rgba(0, 120, 180, 0.24)">Outpatient procedure, 2-3 hrs</td>
              </tr>
              <tr>
                <td>Side Effect</td>
                <td>Pain, nausea, loss of weight/appetite, hair fall etc.</td>
                <td>Pain, nausea, loss of weight/appetite, hair fall etc.</td>
                <td>Post surgical complications</td>
                <td style="background:rgba(0, 120, 180, 0.24)">No side-effects, mild pain for 1-2 days</td>
              </tr>
            </tbody>
          </table>
          <br>
          <%= image_tag('cim/treatments.png', class: 'img-pad') %>
        </div>
        </section>
        <section class="bg-violet">
          <div class="wrap">
            <div class="cta">
              <div class="number">
                <p><span>3</span></p>
              </div>
              <!--end .number -->
              <div class="benefit">
                <p class="text-subtitle"></p>
                <h2>Company Overview</h2>
              </div>
              <!--end .benefit -->
            </div>
            <!--end .cta -->
          </div>
        </section>
        <section class="bg-white">
          <div class="wrap size-80">
            <h3>3. Company Overview</h3>
            <p class="text-intro">InnovaHealth Corporation was founded in 2008 to work on the development of Advanced Clinical Workflow Solutions.</p>
            <div class="clear-float">
              <div class="content-left">
                <p>
                  InnovaHealth Corporation is a world leader in planning and targeting solutions for image guided interventional procedures with an emphasis on oncology and pain care. InnovaHealth’s platforms are installed at some of the world’s top hospitals and are CE marked.
                </p>
                <p>Radiologists use InnovaHealth’s Robotic solutions for image guided interventional procedures like biopsy, drug delivery, ablation, drainage, fine needle aspiration and varied pain care procedures for both cancerous and non-cancerous pain.  
                </p>
                <p>InnovaHealth Corporation is funded by Goldman, Bair Capital and Erasmus (now Azul). The Company started its product development initiatives in 2007 and introduced its first Robotic Navigation Device for CT Guided Biopsies in early 2010. In 2014, InnovaHealth introduced DASAM, its Treatment Planning and Robotic Navigation Device for CT Guided Tumor Ablation.  DASAM is cleared by USFDA, European CE, Japanese PMDA, Chinese FDA amongst many others. The technology of robotic navigation is patented.</p>
              </div>
            <!-- end .content-left -->
              <div class="content-left">
                <p>Making many lists as an innovative company, including Forbes List of Innovative Growth companies, InnovaHealth Corporation was most recently listed as one of the World’s Top 10 Most Innovative Companies in Healthcare Technology for attacking cancer with robotics. </p>
                <p>
                  The Company’s products have been successfully placed in 14 countries and have been utilized in more than 8500 procedures. The Company enjoys access to developed markets like Japan, U.S. and the European Union, as well as to the emerging markets like China, India, Eastern Europe and Latin America. 
                </p>
                <p>
                  InnovaHealth currently has six patents from US Patent office for the Robotic Navigation technology and has a pending patent for the Treatment Planning Workflow Software. Moreover, the Company has licensed 4 patents from NASA as part of its tissue characterization technology development, and has an additional patent pending that will fit into its MAXIO™ workflow.</p>
               <br>
              </div>
            </div>
            <div>
              <br><h5 style="margin-bottom:0">Shareholding Structure</h5>
              <div>
                <ul class="description">
                  <li><span class="text-label">Founders</span> 23.53%</li>
                  <li><span class="text-label">Key Employees & Founders Trust</span> 1.96%</li>
                  <li><span class="text-label">Erasmic Venture Fund Ltd.</span> 4.60%</li>
                  <li><span class="text-label">IDG Ventures India</span> 28.97%</li>
                  <li><span class="text-label">Norwest Venture Partners</span> 35.83%</li>
                  <li><span class="text-label">Individual Investor</span> 0.24%</li>
                  <li><span class="text-label">SVB India</span> 0.63%</li>
                  <li><span class="text-label">ESOP Pool</span> 4.25%</li>
                </ul>
                <br>
                <div class="chart-wrapper inline">
                    <div id="pieChart20" class="pie-wrapper"></div>
                  </div>
              </div>
            </div>
            <!-- end .content-left -->
        </section>
        <section class="bg-white">
          <div class="wrap size-80">
            <h4>InnovaHealth's global market footprint</h4>
            <div id="geochart-market" class="geo-map wide"></div>
          </div>
        </section>
      </article>
    </main>
    <!--main-->
    <div class="swipe-icon"></div>
 
    <script type="text/javascript">
    $(function ($) {

      alert('hey');
      //window.ws = new WebSlides({}); 
        $('body').fadeIn();
          var hashpath = window.location.hash; 
          if (hashpath === '#slide=8') {
            canvas8();
          }
          if (hashpath === '#slide=12') {
            canvas12();
            canvas12two();
          }
          if (hashpath === '#slide=13') {
            canvas13();
          }
          if (hashpath === '#slide=14') {
            pie14();
            canvas14();
          }
         if (hashpath === '#slide=15') {
            pie15();
            pie15two();
          }
          if (hashpath === '#slide=16') {
            pie16();
          }
          if (hashpath === '#slide=17') {
            pie17();
          }
          if (hashpath === '#slide=20') {
            pie20();
          }

          setTimeout(function() {
              $('.swipe-icon').fadeIn('slow');
          }, 2000);
          setTimeout(function() {
              $('.swipe-icon').fadeOut('slow');
          }, 8000);


    /////////  Sidepanel Slide Navigation Feedback ////////
    //on page load

    //on navigating by clicking a slide in the sidepanel
    $(function() {
      $('.selector').click(function() {
        $('#slider a.selector').removeClass('active');  
        $(this).addClass('active'); 
        setTimeout(function() {
         $('#slider').slideReveal("hide");
        }, 200);
      });
    });

     //Slide Reveal
    $("#slider").slideReveal({
      trigger: $("#trigger"),
      push: false,
      overlay: true,
      overlayColor: 'rgba(0,0,0,0.15)',
      hidden: function(slider, trigger){
        $('.menu-link-wrapper .menu-link').removeClass('menu-trigger-open');
        $('.menu-link-wrapper').toggleClass('close-pos');
      },
    });
 
    // Hamburger / aarow icon
    (function() {
     // On icon click...
      $('.menu-link-wrapper').on('click.mobileNav', function(){
        // Toggle the open/closed state of the menu icon
        $('.menu-link-wrapper .menu-link').toggleClass('menu-trigger-open');
        $('.menu-link-wrapper').toggleClass('close-pos');
      });
    })();


      google.charts.load('current', {'packages':['geochart']});
      google.charts.setOnLoadCallback(drawRegionsMap);
      google.charts.setOnLoadCallback(drawMarketMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country',  'Cases'],
          ["Iraq",1],   
          ["Bhutan",1],                           
          ["Democratic Republic of the Congo",1], 
          ["Liechtenstein",1],                    
          ["Maldives",1],                         
          ["Sudan",1],                            
          ["Zimbabwe",1],                         
          ["Mauritania",1],                       
          ["Mozambique",41],                       
          ["Nigeria",11],                          
          ["Swaziland",31],                        
          ["Tanzania",141],                                                   
          ["Guyana",1],                           
          ["Namibia",1],                          
          ["Senegal",1],                          
          ["Turkmenistan",1],                     
          ["Afghanistan",51],                      
          ["Andorra",1],                          
          ["Fiji",1],                             
          ["Gabon",1],                            
          ["Uzbekistan",1],                       
          ["Cameroon",1],                         
          ["Cuba",199],                             
          ["Faroe Islands",1],                    
          ["El Salvador",1],                      
          ["Caribbean",1],                        
          ["Ethiopia",1],                         
          ["Mongolia",161],                         
          ["Puerto Rico",1],                      
          ["Samoa",1],                            
          ["Myanmar",1],                          
          ["Nicaragua",1],                        
          ["Seychelles",1],                       
          ["Tajikistan",1],                       
          ["Dominican Republic",1],               
          ["Guinea",1],                           
          ["Barbados",1],                         
          ["CI",1],                               
          ["Laos",131],                             
          ["Libya",1],                            
          ["Panama",1],                           
          ["Bahrain",1],                          
          ["Benin",1],                            
          ["Ghana",1],                            
          ["Haiti",1],                            
          ["Montenegro",1],                       
          ["Somalia",1],                          
          ["Syria",1],                            
          ["Ecuador",1],                          
          ["Honduras",1],                         
          ["Madagascar",151],                       
          ["Papua New Guinea",144],                 
          ["Tunisia",15],                          
          ["Angola",1],                           
          ["Botswana",41],                         
          ["Cyprus",1],                           
          ["Algeria",1],                          
          ["Bahamas",1],                          
          ["New Caledonia",1],                    
          ["Uganda",111],                           
          ["Yemen",1],                            
          ["Zambia",2],                           
          ["Antarctica",2],                       
          ["Paraguay",2],                         
          ["Jamaica",2],                          
          ["Palestine",2],                        
          ["Bolivia",2],                          
          ["Bosnia and Herzegovina",2],           
          ["Vietnam",142],                          
          ["Kenya",142],                            
          ["Luxembourg",2],                       
          ["Niger",12],                            
          ["Kuwait",12],                           
          ["Hawaii",12],                           
          ["Scotland",2],                         
          ["Cambodia",142],                         
          ["Uruguay",222],                          
          ["Kyrgyzstan",2],                       
          ["Saudi Arabia",2],                     
          ["Indonesia",2],                        
          ["Azerbaijan",2],                       
          ["United Arab Emirates",2],             
          ["Mauritius",2],                        
          ["Morocco",2],                          
          ["Albania",3],                          
          ["South Korea",223],                      
          ["Kazakhstan",183],                       
          ["Macedonia",53],                        
          ["Venezuela",63],                        
          ["Taiwan",73],                           
          ["Qatar",63],                            
          ["Jordan",63],                           
          ["Iceland",63],                          
          ["Guatemala",43],                        
          ["Costa Rica",103],                       
          ["Hong Kong",33],                        
          ["San Marino",43],                       
          ["Colombia",64],                         
          ["Moldova",44],                          
          ["Armenia",134],                          
          ["Malta",34],                            
          ["Nepal",85],                            
          ["Lebanon",185],                          
          ["Malaysia",115],                         
          ["Serbia",45],                           
          ["Peru",65],                             
          ["Trinidad and Tobago",35],              
          ["Lithuania",5],                        
          ["Estonia",6],                          
          ["Georgia",116],                          
          ["Iran",7],                             
          ["Chile",7],                            
          ["Latvia",7],                           
          ["Thailand",7],                         
          ["Egypt",174],                            
          ["Slovenia",338],                         
          ["Mexico",8],                           
          ["Belarus",8],                          
          ["Slovakia",9],                         
          ["Sri Lanka",69],                        
          ["Croatia",119],                          
          ["Philippines",19],                      
          ["Bangladesh",10],                      
          ["Turkey",110],                          
          ["Romania",113],                         
          ["Italy",204],                           
          ["South Africa",185],                    
          ["Hungary",345],                         
          ["Pakistan",116],                        
          ["Portugal",166],                        
          ["Ukraine",119],                         
          ["Greece",179],                          
          ["Oman",19],                            
          ["Argentina",109],                       
          ["Singapore",50],                       
          ["Bulgaria",70],                        
          ["Japan",125],                           
          ["Czech Republic ",126],                 
          ["Ireland",206],                         
          ["China",167],                           
          ["Finland",172],                         
          ["Brazil",133],                          
          ["Norway",184],                          
          ["Austria",215],                         
          ["Denmark",3380],                         
          ["Belgium",201],                         
          ["New Zealand",242],                     
          ["Spain",183],                           
          ["Switzerland",157],                     
          ["Russia",152],                          
          ["Poland",165],                          
          ["Israel",153],                          
          ["Sweden",181],                          
          ["Netherlands",158],                    
          ["France",369],                         
          ["Australia",373],                      
          ["Canada",295.7],                         
          ["India",4],                          
          ["Germany",258],                        
          ["United Kingdom",314],                 
          ["United States",340],                  
          ["Unknown",0],   
              ]);

    var options = {
      displayMode: 'regions',
      magnifyingGlass: {enable: true, zoomFactor: 7.5},
      colorAxis: {values: ['No data', 100, 200, 300], colors: ['#a8bff0', '#7c87e8', '#6d83cd' ,'#344b9f'],},
      backgroundColor: 'transparent',
      datalessRegionColor: '#ececec',
      defaultColor: '#f5f5f5',
    };
      var chart = new google.visualization.GeoChart(document.getElementById('geochart-incidence'));
      chart.draw(data, options);
    }

    function drawMarketMap() {
      var data = google.visualization.arrayToDataTable([
        ['Country',  'Cases'],
        ["Germany",1],   
        ["United States",1],                           
        ["China",1], 
        ["Italy",1],                    
        ["Vietnam",1], 
        ["Indonesia",1],   
        ["India",1],    
      ]);
      var options = {
        displayMode: 'regions',
        magnifyingGlass: {enable: true, zoomFactor: 7.5},
        colorAxis: {values: ['No data', 100], colors: ['#006090', '#006090'],},
        backgroundColor: 'transparent',
        datalessRegionColor: '#ececec',
        defaultColor: '#f5f5f5',
        legend: 'none'
      };
      var chart = new google.visualization.GeoChart(document.getElementById('geochart-market'));
      chart.draw(data, options);
    }
  });
    </script>
