<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @verification.integer %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @verification.assigned_to %>
</p>

<p>
  <strong>Business:</strong>
  <%= @verification.business_id %>
</p>

<%= link_to 'Edit', edit_verification_path(@verification) %> |
<%= link_to 'Back', verifications_path %>
