<%= simple_form_for(@user, url: my_interests_path, method: :put ) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col s12 columns">
      <%= f.collection_check_boxes :industry_classification_ids, IndustryClassification.all, :id, :name do |ic| %>
      <div class="collection-check-box">
         <%= ic.check_box %>
         <%= ic.label %>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.button :submit, "Update" %>

<% end %>
