<div class="container">
    <div class="col s12">
     <div class="row">
      <div class="col s2"><%= link_to 'All', admin_verifications_path %> (<%= Verification.count -%>)</div>
      <div class="col s2"><%= link_to 'New', admin_verifications_path(status: 'new') %> (<%= Verification.status_new.count -%>)</div>
      <div class="col s2"><%= link_to 'Pending', admin_verifications_path(status: 'pending') %> (<%= Verification.status_pending.count -%>)</div>
      <div class="col s2"><%= link_to 'Complete', admin_verifications_path(status: 'complete') %> (<%= Verification.status_complete.count -%>)</div>
      <div class="col s2"><%= link_to 'Needs assignment', admin_verifications_path(view: 'needs') %> (<%= Verification.needs_assignment.count -%>)</div>
    </div>

     <div class="row">
         <div class="col s2">Assigned to:</div>
      <% User.with_role(:admin).each do |user| -%>
         <div class="col s3"><%= link_to user.name, admin_verifications_path(assigned: user.id) %>(<%= Verification.assigned_to(user).count %>)</div>
      <% end %>
    </div>
     <div class="row">
       <div class="col s2">Completed by:</div>
      <% User.with_role(:admin).each do |user| -%>
         <div class="col s3"><%= link_to user.name, admin_verifications_path(completed: user.id) %>(<%= Verification.completed_by(user).count %>)</div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <% if @verifications.empty? %>
            <p>There is no activity for your search.
            </p>
          <% else %>
              <table>
                <thead>
                 <th>Requested by</th>
                 <th>Business</th>
                 <th>Status</th>
                 <th>Assigned to</th>
                 <th>Completed by</th>
                 <th>Date</th>
                 <th>Edit</th>
                </thead>
                <tbody>
                  <% @verifications.each do |verification| %>
                    <tr>
                      <td><%= verification.user.name -%></td>
                      <td><%= link_to verification.business.company_name, admin_verification_path(verification) %></td>
                      <td><%= verification.status -%></td>
                      <td><%= verification.try(:assigned_user).try(:name) -%></td>
                      <td><%= verification.try(:completed_by_user).try(:name) -%></td>
                      <td><%= verification.created_at.strftime(date_and_time_format) -%></td>
                      <td><%= link_to 'edit', edit_admin_verification_path(verification) -%></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <p>
              <%= paginate(@verifications) -%>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
