<%= simple_form_for([:my, @opportunity]) do |f| %>
  <%= f.error_notification %>
  <div class="row"><div class="col s12"><%= f.input :title, label: 'Listing Title' %></div></div>
  <div class="row">
    <div class="col s6"><mm><%= f.input :revenue_amount %></mm></div>
  </div>
  <div class="row">
        <div class="col s6"><mm><%= f.input :ebidta_amount %></mm></div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.label :industry_classification_ids, 'Industries' -%>
    </div>
  </div>

  <div class="row">
    <div class="col s12 columns">
      <%= f.collection_check_boxes :industry_classification_ids, IndustryClassification.all, :id, :name do |ic| %>
      <div class="collection-check-box">
         <%= ic.check_box %>
         <%= ic.label %>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.button :submit, "#{(@opportunity.persisted?) ? 'Update' : 'Save'}" %>

<% end %>
