<%= link_to opportunity.title, my_opportunity_path(opportunity)  -%>
<p>
<%= opportunity.industry.name %>
Stage: <%= opportunity.stage %><br />
Revenue: <%= opportunity.revenue_amount %><br />
EDITDA: <%= opportunity.ebitda_amount %><br />
</p>

<br />

