<div id="note-<%=note.id-%>" class="note">
  <%= avatar_image(note.user, 'tiny-image') %>
  <% if current_user == note.user %>
    <%= best_in_place note, :body, url:  private_deal_room_note_path(notable, note)  -%>
    <%= link_to polymorphic_url([:private, @notable, note]), method: :delete  do %>
      <i class="material-icons">delete</i>
    <% end %>
    </div>
  <% else %>
     <%= note.body -%>
  <% end %>
  <div class='note-meta'><%= note.created_at.strftime(date_and_time_format) -%>
</div>
