<tr>
  <td><%= link_to buyside.title, buyside_path(buyside) %>
    <br />
    <%= buyside.user.name -%>
    <%= link_to  new_my_message_path(recipient_id: buyside.user.id ) do %>
      <i class="ion-email" data-pack="default" data-tags="box, square, container"></i>
    <% end %>
    <%= following_user_link(buyside.user, remote: false) -%>
  </td>
  <td><%= buyside.stage %></td>
  <td><%= buyside.revenue_lower %></td>
  <td><%= buyside.revenue_upper %></td>
  <td><%= buyside.ebitda_lower %></td>
  <td><%= buyside.ebitda_upper %></td>
  <td><%= buyside.industry_classifications.collect(&:name).join(', ') %></td>
</tr>
