<div class="card">
  <div class="card-content">
    <div class="sub">
    <%= link_to "My Buysides", my_buysides_path, class: 'sub-item' %>
    <%= link_to "All", buysides_path, class: 'sub-item active' %>
    <%= link_to new_my_buyside_path, class: "waves-effect btn right float-margin" do %>
    Create Buyside
    <% end %>
    </div>
  <div class="card-title">Buysides (<%= current_user.buysides.count -%>) </div>

  <%= render partial: '/buysides/buysides' %>
  </div>
</div>
