<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row valign-wrapper">
    <div class="col s4 m2">
        <%= avatar_image(user, "circle responsive-img valign" ) -%>
    </div>
    <div class="col s8 m10">
      <span class="black-text">
                  <%= user.name-%>

                 <p class="medium-small grey-text"><%= user.headline if user.headline.present? %></p>
				<p> <%= link_to 'profile', user_path(user) -%> </p>
				<p> Industries: <%= user_interests(user) -%></p>
				<p><%= following_user_link(user, remote: false) %></p>
				<p>
				  <% if user.profile_url.present? %>
				    <%= link_to user.profile_url, target:'_blank' do %>
				      <%= image_tag('linkedin.png', width: 50) %>
				    <% end %>
				   <% end %>
				</p>

				<p>
				 <%= link_to  new_my_message_path(recipient_id: user.id ) do %>
				   <i class="ion-email" data-pack="default" data-tags="box, square, container"></i>
				  <% end %>
				</p>


      </span>
    </div>
  </div>
</div>


