<div id="profile-page" class="section">
  <div id="profile-page-header" class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag('profile-bg.png', class: 'activator' )-%>
      </div>
      <figure class="card-profile-image">
        <%= avatar_image(@user, "circle z-depth-2 responsive-img activator" ) -%>
      </figure>
      <div class="card-content">
        <div class="row">
          <div class="col s3 offset-s2">
              <h4 class="card-title grey-text text-darken-4"><%= @user.name -%></h4>
              <p class="medium-small grey-text"><%= @user.headline if @user.headline.present? %></p>
          </div>
          <div class="col s2">
              <h4 class="card-title grey-text text-darken-4">Location</h4>
              <p class="medium-small grey-text"><%= @user.location -%></p>
          </div>
          <div class="col s2">
              <h4 class="card-title grey-text text-darken-4">Industry</h4>
              <p class="medium-small grey-text"><%= @user.industry if @user.industry.present?  %></p>
          </div>
          <div class="col s2">
              <h4 class="card-title grey-text text-darken-4">Organization</h4>
              <p class="medium-small grey-text">
                <% if @user.organization.present? %>
                  <%= @user.organization.name %>
                <% end %>
              </p>
          </div>
          <div class="col s1 left-align">
              <h4 class="card-title grey-text text-darken-4"></h4>
              <p class="medium-small social-links">
                <% if @user.profile_url.present? %>
                  <%= link_to @user.profile_url, target:'_blank' do %>
                    <% image_tag('linkedin.png') %>
                  <% end %>
                <% end %>
              </p>
          </div>

      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
