  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">
        <%= image_tag("valtari-x-whit.svg", :alt => "Valtari") %>
        </a>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
         <% if current_user.present? %>
           <li>  <%= current_user.name %> </p> </li>
           <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete  -%></li>
         <% else %>
          <li><%= link_to 'Sign In', new_user_session_path -%></li>
          <% end %>
        </ul>
      </div>
    </div>


  <ul id="slide-out" class="side-nav">
    <li>
      <div class="userView">
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <% if current_user.present? %>
           <li>  <%= current_user.name %> </p> </li>
           <li><div class="divider"></div></li>
           <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete  -%></li>
         <% else %>
          <li><%= link_to 'Sign In', new_user_session_path -%></li>
    <% end %>
    
  </ul>


  </nav>

<script type="text/javascript">

  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();

  </script>