<ul id="dropdown" class="dropdown-content">
  <% if current_user.present? %><li><%= link_to 'Profile', user_path(current_user) %></li><% end %>
  <li class="divider"></li>
  <li><%= link_to 'Account', edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete  -%></li>
</ul>

<nav>
    <div class="nav-wrapper">
      <div class="container <%= (request.path =~ /admin/) ? 'wide' : '' -%>">

        <%= link_to profile_path, class: 'brand-logo' do %><%= image_tag("valtari-x.svg", :alt => "Valtari") %><% end %>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
         <% if current_user.present? %>
            <li><a class="messages-nav" href="<%=my_messages_path%>"><i class="ion-email"></i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown"><%= current_user.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>


  <ul id="slide-out" class="side-nav">
    <li>
      <div class="userView">
        <li><%= link_to 'Account', edit_user_registration_path %></li>
      </div>
    </li>
    <% if current_user.present? %>
           <li>  <%= current_user.name %> </p> </li>
           <li><div class="divider"></div></li>
           <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete  -%></li>
         <% else %>
          <li><%= link_to 'Sign In', new_user_session_path -%></li>
    <% end %>

  </ul>


  </nav>

<script type="text/javascript">

  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();

  </script>
