<div class="side-bar">
  <li><%= link_to 'Dashboard', profile_path -%></li>
  <li><%= link_to 'My Campaigns', my_campaigns_path, class: 'collection-item' %></li>
  <li><%= link_to 'My Capital Raises', my_capitals_path, class: 'collection-item' %></li>
  <li><%= link_to 'Companies Database', businesses_path, class: 'collection-item' %></li>
  <li><%= link_to 'Sell Listings', sellers_path, class: 'collection-item' %></li>
  <li><%= link_to 'Watch List', my_businesses_path , class: 'collection-item' %></li>
  <div class="card-content"><%= render partial: '/my/searches/recent' -%></div>
</div>
