<div class="card">
  <div class="card-content lanyard-container">
	<div class="lanyard truncate">
	    <%= image_tag(current_user.picture_url) %>
      <%= link_to current_user.name, user_path(current_user) %>
	  </div>
    <ul>
      <li class="truncate">
        <% if current_user.organization.present? %>
        <%= current_user.organization.name %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<div class="collection">
  <%= link_to 'My Campaigns', my_campaigns_path, class:'collection-item' %>
  <%= link_to 'My Capital Raises', my_capitals_path, class:'collection-item' %>
  <%= link_to 'Companies Database', admin_businesses_path, class:'collection-item' %>
</div>


