<div class="card">
  <div class="card-content lanyard-container">
	<div class="lanyard truncate">
	    <%= image_tag(current_user.picture_url) %>
      <%= link_to current_user.name, user_path(current_user) %>
	  </div>
    <ul>
	    <li class="truncate"><%= current_user.headline if current_user.headline.present? %></li>
      <li class="truncate"><%= current_user.industry if current_user.industry.present?  %></li>
	    <li class="truncate"><%= link_to(current_user.profile_url,  current_user.profile_url) if current_user.profile_url.present? %></li>
    </ul>
  </div>
</div>
<div class="collection">
  <%= link_to 'My Campaigns', my_campaigns_path, class:'collection-item' %>
  <%= link_to 'Companies Database', admin_businesses_path, class:'collection-item' %>
</div>


