<div class="container">
  <div class="margin-top-bottom">
    <div class="row">
      <div class="col s12 l3">
        <%= render partial: 'my_info' %>
        <%= render partial: 'my_contacts' %>
	  </div>
	  <div class="col s12 l9">
	    <%= render partial: 'my_companies' %>
        <%= render partial: 'my_campaigns' %>
        <%= render partial: 'my_capitals' %>
  	  </div>
    </div>
  </div>
</div>

