<div class="card">
  <div class="card-content calendar">
    <div class="sub">
      <%= link_to 'All Events', my_businesses_path, class: 'sub-item active' %>
      <%= link_to 'Create Event', new_my_event_path, class: 'waves-effect btn right float-margin' %>
    </div>
    <%= month_calendar events: @events, attribute: :start_date, end_attribute: :end_date do |date, events| %>
    <%= date %>
    <% events.each do |event| %>
      <div>
        <%= link_to event.title,  my_event_path(event)  %>
       </div>
       <% end %>
    <% end %>
  </div>
</div>
