<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l8 offset-l2">
		  <%= render partial: '/private/deal_rooms/about' %>
	  </div>
  </div>
</div>

<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l8 offset-l2">
      <div class="card upload-container">
        <div class="card-content">
            <h4>Upload files for all deal room particiants</h4>
            <%= link_to 'View all', private_deal_room_deal_room_uploads_path(@deal_room), class: 'right-corner' -%>
            <%= render partial: '/private/deal_room_uploads/form' %>
            <%= render partial: '/private/deal_room_uploads/index', locals: {uploads: @deal_room.deal_room_uploads.page(params[:page]).per(5)  } %>
        </div>
	  </div>
	</div>
  </div>
</div>

<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l4 offset-l2">
      <div class="card">
        <div class="card-content">
          <%= render partial: '/private/deal_room_invitations/form' -%>
        </div>
    </div>
  </div>
  <% if @deal_room.distinct_groups.any? %>
    <div class="col s12 l4">
      <div class="card">
        <div class="card-content">
          <%= render partial: '/private/deal_rooms/owners/groups' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<% if @deal_room.deal_room_invitations.any? %>
<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l8 offset-l2">
      <div class="card">
        <div class="card-content">
			    <%= render partial: '/private/deal_room_invitations/index', locals: { invitations: @deal_room.deal_room_invitations } -%>
        </div>
	    </div>
	  </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12 l8 offset-l2">
      <div class="card">
        <div class="card-content">
           <%= render partial: '/private/notes/index', locals: { notable: @deal_room, notes: @deal_room.notes } -%>
        </div>
	    </div>
	  </div>
  </div>
</div>
