<div class="row">
  <div class="col s12" id="user-<%=user.id-%>-uploads">
  <% @deal_room_uploads = @deal_room.deal_room_uploads.by_user(user) %>
  <h3>Uploads(<%= @deal_room_uploads.count -%>) </h3>
  <% @deal_room.deal_room_uploads.by_user(user).each do |upload| %>
    <p>
      <%= format_date_and_time(upload.created_at) -%>
      <%= upload.original_file_name -%>
      <%= link_to private_deal_room_deal_room_upload_path(@deal_room, upload) do %>
         <i class="ion-ios-download-outline" data-pack="ios" data-tags="save, export"></i>
       <% end %>
       <%= link_to private_deal_room_deal_room_upload_path(@deal_room, upload),
         method: :delete,
         data: { contrim: "Are you sure that you'd like to delete this file?" } do %>
           <i class="ion-backspace-outline" data-pack="ios" data-tags="save, export"></i>
        <% end %>
      </p>
    <% end %>
  </div>
</div>

