<div class="navy">
	<div class="login-box">
		<h4 class="thin">Sign In to Get Started</h4>
		<!-- email log in stuff
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		  </div>
		<br>
		  <div class="form-actions">
		    <%= f.button :submit, "Log in", class: "waves-effect waves-light btn-large indigo darken-4" %>
		  </div>
		<% end %>-->

		<br>
		<%= render "devise/shared/links" %>
	</div>
</div>

<div class="section plexus">
  <div class="row center">
  	<br><br>
    <h3 class="light header">Your Next Strategic Decision is Right Around the Corner</h3>
    <p class="col s12 l4 offset-l4 caption">Sign in and start learning about your next opportunity today.  </p>
  </div>
  <div class="center col s12 m3"><i class="material-icons dp48 center large">visibility</i></div>
  <br>
  <br>
  <br>
  <br>
</div>
