<p id="notice"><%= notice %></p>
<h1>Organizations</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.url %></td>
        <td><%= link_to 'Edit', edit_admin_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', admin_organization_path(organization), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@organizations) -%>

<br />

<p>
  <%= link_to 'New Organiation', new_admin_organization_path %>
</p>
