
<div class="col s4">
  <h3><%= @deal_room.name -%></h3>
  <b><%= @deal_room.company_name -%></b>
  <% if current_user == @deal_room.user %>
     <%= link_to 'Edit', edit_private_deal_room_path(@deal_room) -%>
  <% end %>
</div>

<div class="col s4">
  <br />
  <%= avatar_image(@deal_room.user, 'tiny-image') %><br />
 Room owner: <%= @deal_room.user.full_name -%>
</div>

