<div class="col s6">
  <h3><%= link_to @deal_room.name, private_deal_room_path(@deal_room) -%></h3>
  <b><%= @deal_room.company_name -%></b>
  <% if current_user == @deal_room.user %>
     <%= link_to 'Edit', edit_private_deal_room_path(@deal_room) -%>
  <% end %>
</div>

<div class="col s6">
  <br />

  <div class="chip">
 	 <%= avatar_image(@deal_room.user, 'tiny-image') %>
  	Admin: <%= @deal_room.user.full_name -%>
	</div>
  <br />
</div>

