<%= simple_form_for([:my, @capital]) do |f| %>
  <%= f.error_notification %>

  <div class="row"><div class="col s12"><%= f.input :title, label: 'Title', placeholder: 'Enter your title'  %></div>
  <div class="col s12 l6"><mm><%= f.input :revenue %></mm></div></div>
  
  <div class="row">
    <div class="col s12"><%= f.label :industry_classification_ids, 'Industries' -%>

    <%= f.collection_check_boxes :industry_classification_ids, IndustryClassification.all, :id, :name do |ic| %>

  <p>
    <%= ic.check_box %>
    <%= ic.label %>
  </p>

  <% end %>

    <%= f.button :submit, "#{(@capital.persisted?) ? 'Update' : 'Save'}" %>

    </div>
  </div>

<% end %>
