<h1>Messages</h1>
<p>
 <%= link_to 'All', my_messages_path(all: true) -%> |
 <%= link_to 'Unopened', my_messages_path(opened: false )  -%> |
 <%= link_to 'Opened ', my_messages_path(opened: true)  -%> |
 <%= link_to 'Sent', my_messages_path(sent: true)  -%>
</p>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to message.user.name, my_message_path(message) %></td>
        <td><%= message.subject %>
          <% if message.opened? %>
              <small>Opened <%= time_ago_in_words(message.opened_at)-%> ago</small>
          <% end %>
          <%= link_to 'reply', new_my_message_path(recipient_id: message.user_id, thread_id: message.thread_id) %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
