<h4>Message from <%= @message.user.name -%> </h4>
<p>To:<%= @message.recipient.name %></p>
<p> <strong>Subject:</strong> <%= @message.subject %> </p>
<p> <%= @message.body %> </p>
<p> <%= link_to 'inbox', my_messages_path %> </p>
