<div class="card">
  <div class="card-content calendar">
    <div class="sub">
    	<%= link_to my_messages_path, class: 'back-btn' do %><%= image_tag("back.png", class: "back", :alt => "back") %><% end %>
    	    </div>
    <p> <strong><%= @message.user.name -%></strong></p> 
	<p> <%= @message.subject %> </p>
	<p> <%= @message.body %> </p>
	
</div>
</div>
</div>