<div class="card">
  <div class="card-content">
    <div class="sub">
      <%= link_to "My Campaigns", my_campaigns_path, class: 'sub-item active' %>
      <%= link_to "All", campaigns_path, class: 'sub-item' %>
      <%= link_to new_my_campaign_path, class: "waves-effect btn right float-margin" do %>
          Create Campaign
      <% end %>
    </div>

    <div class="card-title">My Campaigns (<%= current_user.campaigns.count -%>) </div>
      <%= render partial: '/my/campaigns/campaigns' %>

    <br />

    <div class="card-title">My Captials(<%= current_user.capitals.count -%>) </div>
	  <%= render partial: 'my/capitals/capitals' %>

  </div>
</div>
