<p> Name:<%= @cim_inquiry.name -%></p>
<p> Email:<%= @cim_inquiry.email -%></p>
<p> Phone:<%= @cim_inquiry.phone -%></p>
<p> Company:<%= @cim_inquiry.company-%></p>
<p> Comment:<%= @cim_inquiry.comment -%></p>
