<table class="bordered">
  <thead>
    <tr>
      <th><%= campaign.title %></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Industry</td>
      <td><%= campaign.title %></td>
    </tr>

    <tr>
      <td>Stage</td>
      <td><%= campaign.stage %></td>
    </tr>

    <tr>
      <td>Revenue</td>
      <td>
          <%= campaign.revenue_lower %> - <%= campaign.revenue_upper %>
      </td>
    </tr>
    <tr>
      <td>Ebitda</td>
      <td><%= campaign.ebidta_lower %> - <%= campaign.ebidta_upper %> </td>
    </tr>
    <tr>
</tbody>
</table>
