<table class="bordered">
  <thead>
    <tr>
      <th><%= campaign.title %></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Industry</td>
      <td><%= campaign.title %></td>
    </tr>

    <tr>
      <td>Stage</td>
      <td><%= campaign.stage %></td>
    </tr>

    <tr>
      <td>Revenue</td>
      <td><%= campaign.revenue.name %></td>
    </tr>
    <tr>
      <td>Ebitda</td>
      <td><%= campaign.ebidtum.name %></td>
    </tr>
    <tr>
</tbody>
</table>
