<tr>
  <td><%= link_to campaign.title, campaign %></td>
  <td><%= campaign.revenue.name %></td>
  <td><%= campaign.ebidtum.name %></td>
  <td><%= campaign.industry.name %></td>
  <td>
    <%= link_to(edit_campaign_path(campaign) , class: "waves-effect waves-light btn") do %>
      <i class="material-icons">node_edit</i>
    <% end %>
    <%= link_to(campaign, method: :delete, data: { confirm: 'Are you sure want to remove this campaign?' }, class: "waves-effect waves-light btn") do  %>
      <i class="material-icons">delete </i>
    <% end %>
  </td>
</tr>
