<tr>
  <td><%= link_to campaign.title, campaign %></td>
  <td><%= campaign.stage %></td>
  <td><%= campaign.revenue.name %></td>
  <td><%= campaign.ebidtum.name %></td>
  <td><%= campaign.industry.name %></td>
</tr>
