<tr>
  <td><%= link_to campaign.title, my_campaign_path(campaign) %></td>
  <td><%= campaign.stage %></td>
  <td><%= campaign.revenue_lower %></td>
  <td><%= campaign.revenue_upper %></td>
  <td><%= campaign.ebitda_lower %></td>
  <td><%= campaign.ebitda_upper %></td>
  <td><%= campaign.industry.name %></td>
  <td>
    <%= link_to(edit_my_campaign_path(campaign) , class: "inline-link") do %>
      <i class="material-icons tiny">mode_edit</i>
    <% end %>
    <%= link_to(my_campaign_path(campaign), method: :delete, data: { confirm: 'Are you sure want to remove this campaign?' }, class: "inline-link") do  %>
      <i class="material-icons tiny">delete </i>
    <% end %>
  </td>
</tr>
