<div class="card">
  <div class="card-content">
    <div class="sub">
    <%= link_to "My Campaigns", my_campaigns_path, class: 'sub-item' %>
    <%= link_to "All", campaigns_path, class: 'sub-item active' %>
    <%= link_to new_my_campaign_path, class: "waves-effect btn right float-margin" do %>
    Create Campaign
    <% end %>
    </div>
  <div class="card-title">Campaigns (<%= current_user.campaigns.count -%>) </div>

  <%= render partial: '/campaigns/campaigns' %>
  </div>
</div>
