<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @campaign.industry.name %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @campaign.revenue.name %>
</p>

<p>
  <strong>Ebitda:</strong>
  <%= @campaign.ebidtum.name %>
</p>

<p>
<%= link_to 'Edit', edit_campaign_path(@campaign) %> | <%= link_to 'Back', campaigns_path %>
</p>
