<% @deal_room_authorizations = @deal_room.deal_room_authorizations.within_group(@group).page(params[:page]).per(10)  -%>
<% @deal_room_invitations = @deal_room.deal_room_invitations.within_group(@group).page(params[:page]).per(10)  -%>
<% @deal_room_uploads= @deal_room.deal_room_uploads.within_group(@group).page(params[:page]).per(10) -%>


<div class="row">
  <div class="margin-top-bottom">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="row">
             <div class="col s8">
             <%= render partial: '/private/deal_rooms/about' -%>
             </div>
             <div class="col s4">
               <h3>Group: <%= @group -%> </h3>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">

  <div class="col m8 s12">

    <div class="card">
      <div class="card-content">
        <h3>Files</h3>
        <%= render partial: '/private/deal_room_uploads/index', locals: { uploads: @deal_room_uploads } -%>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3>Upload a file to group: <%= @group -%></h3>
         <%= render partial: '/private/deal_room_uploads/form' %>
        </div>
     </div>
  </div>

  <div class="col m4 s12">
    <div class="card">
      <div class="card-content">
         <%= render partial: '/private/deal_room_authorizations/index', locals: { authorizations: @deal_room_authorizations } %>
       </div>
     </div>

    <div class="card">
      <div class="card-content">
        <%= render partial: '/private/deal_room_invitations/index', locals: { invitations: @deal_room_invitations } -%>
       </div>
     </div>
  </div>

</div>
