<ul class="collection with-header">
  <li class="collection-header" >Admin</li>
  <li class="collection-item" ><%= link_to 'Businesses', admin_businesses_path -%></li>
  <li class="collection-item" ><%= link_to 'Company Types', admin_businesses_path -%></li>
  <li class="collection-item" ><%= link_to 'EBIDTA', admin_ebidtas_path -%></li>
  <li class="collection-item" ><%= link_to 'Events', admin_events_path -%></li>
  <li class="collection-item" ><%= link_to 'NAISC Codes', admin_industries_path -%></li>
  <li class="collection-item" ><%= link_to 'Revenues', admin_revenues_path -%></li>
  <li class="collection-item" ><%= link_to 'Organizations', admin_organizations_path -%></li>
  <li class="collection-item" ><%= link_to 'SIC Codes', admin_sic_codes_path -%></li>
<ul>
