<h1>Admin</h1>


<p><%= link_to 'Businesses', admin_businesses_path -%></p>
<p><%= link_to 'Company Types', admin_businesses_path -%></p>
<p><%= link_to 'EBIDTA', admin_ebidtas_path -%></p>
<p><%= link_to 'Industries', admin_industries_path -%></p>
<p><%= link_to 'Revenues', admin_revenues_path -%></p>
