<p id="notice"><%= notice %></p>

<h1>Geos</h1>

<ul>
  <li>
   <%= link_to 'All' , admin_geos_path -%>
  </li>
<% division1_names.sort.each do |division1| %>
  <li>
  <%= link_to division1, admin_geos_path(division1: division1) -%>
  </li>
<% end %>
</ul>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Division 1</th>
      <th>Division 2</th>
      <th>Division 3</th>
      <th>Division 4</th>
      <th>Division 5</th>
      <th>State Abbrev</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geos.each do |geo| %>
      <tr>
        <td><%= link_to geo.id, admin_geo_path(geo)  %></td>
        <td><%= link_to  geo.division1, admin_geos_path(division1: geo.division1) %></td>

        <td>
           <% if geo.division2.present? %>
            <%= link_to  geo.division2, admin_geos_path(division2: geo.division2) %>
          <% end %>
        </td>

        <td>
           <% if geo.division3.present? %>
            <%= link_to  geo.division3, admin_geos_path(division3: geo.division3) %>
          <% end %>
        </td>

        <td>
           <% if geo.division4.present? %>
            <%= link_to geo.division4, admin_geos_path(division4: geo.division4) %>
          <% end %>
        </td>
        <td>
            <%= geo.division5 %>
        </td>


        <td><%= geo.state_abbreviation %></td>
        <td><%= link_to 'Show', admin_geo_path(geo) %></td>
        <td><%= link_to 'Edit', edit_admin_geo_path(geo) %></td>
        <td><%= link_to 'Destroy', admin_geo_path(geo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@geos) -%>

<br>

<%= link_to 'New Geo', new_admin_geo_path %>
