<p>
  <strong>Division1</strong>
  <%= @geo.division1 %>
</p>

<p>
  <strong>Division2</strong>
  <%= @geo.division2 %>
</p>

<p>
  <strong>Division3</strong>
  <%= @geo.division3 %>
</p>

<p>
  <strong>Division4</strong>
  <%= @geo.division4 %>
</p>

<p>
  <strong>Division5</strong>
  <%= @geo.division5 %>
</p>
