<h4>Invitations (<%= invitations.count -%>)</h4>
<%= link_to 'View All', private_deal_room_deal_room_invitations_path(@deal_room) -%>
<% if invitations.any? %>
  <% if action_name == "index" %>
    <%= form_tag private_deal_room_deal_room_invitations_path(@deal_room), id: "invitations-search" , class: 'search-bar', role: 'search',  method: :get do %>
      <%= text_field_tag :q, params[:q], type: "search", placeholder: "Search" %>
      <%= submit_tag "Search", class: "btn" %>
    <% end %>
  <% end %>

  <table>
    <thead>
      <th>Date</th>
      <th>To</th>
      <th>Group</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <% invitations.each do |invitation| %>
          <% next unless invitation.persisted? %>
        <tr>
          <td>
            <%= format_date(invitation.created_at) -%>
          </td>
          <td>
              <%= invitation.inviter.full_name -%><br />
              <%= invitation.user.email -%>
          </td>
          <td>
            <%= invitation.group -%>
          </td>
          <td>
            <%= invitation.status-%>
          </td>
          <% if current_user == invitation.inviter %>
          <td>
           <% if !invitation.accepted? %>
            <%= link_to(private_deal_room_deal_room_invitation_path(@deal_room, invitation),
               method: :delete,
               data: {confirm: "Are you sure that you want to delete this invitation?" } ) do %>
               <i class="material-icons tiny">delete</i>
            <% end %>
              <%= link_to('resend', resend_private_deal_room_deal_room_invitation_path(@deal_room,invitation), method: :put ) %>
            <% else %>
               <%= format_date(@deal_room.deal_room_authorizations.where(user: invitation.user).first.created_at) %>
            <% end %>
          </td>
         <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(invitations) if action_name == "index" %>
<% end %>
