<h3>Invitations (<%= invitations.count -%>)</h3>
<% if invitations.any? %>
  <table>
    <thead>
      <th>Date</th>
      <th>To</th>
      <th>Invited by</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <% invitations.each do |invitation| %>
        <tr>
          <td>
            <%= format_date(invitation.created_at) -%>
          </td>
          <td>
              <%= invitation.inviter.full_name -%><br />
              <%= invitation.email -%>
          </td>
          <td>
            <%= invitation.status-%>
          </td>
          <% if current_user == invitation.inviter %>
          <td>
           <% if !invitation.accepted? %>
            <%= link_to(private_deal_room_deal_room_invitation_path(@deal_room, invitation),
               method: :delete,
               data: {confirm: "Are you sure that you want to delete this invitation?" } ) do %>
               <i class="material-icons tiny">delete</i>
            <% end %>
              <%= link_to('resend', resend_private_deal_room_deal_room_invitation_path(@deal_room,invitation), method: :put ) %>
            <% else %>
               <%= format_date(@deal_room.deal_room_authorizations.where(user: invitation.user).first.created_at) %>
            <% end %>
          </td>
         <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
