<!DOCTYPE html>
<html>
  <head>
    <title>Valtari Administration</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>
  </head>
  <body>
      <%= render partial: '/shared/user_account_navigation' %>
      <%= render partial: '/shared/flash' %>
      <div class="container <%= controller_name == 'businesses' ? 'wide' : '' -%>">
        <div class="row">
           <main class="<% if current_user.present? %>logged-in<% end %>">
            <%= yield %>
           </main>
        </div>
      </div>
    <footer class="page-footer light-gray">
      <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h4 class=""> ©2016  Valtari Exchange</h4>
            <p class="grey-text"></p>
          </div>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Valtari Exchange
        <br><br><br>
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        <br><br>
        </div>
      </div>
    </footer>
  </body>
</html>
