<!DOCTYPE html>
<html>
  <head>
    <title>Valtari Administration</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>
  </head>
  <body>
    <main class="<% if current_user.present? %>logged-in<% end %>">
      <%= render partial: '/shared/user_account_navigation' %>
      <%= render partial: '/shared/flash' %>
      <%= render partial: '/layouts/shared/admin_nav' if current_user.admin? -%>
            <%= yield %>
      </main>

  </body>
</html>
