<!DOCTYPE html>
<html>
  <head>
    <title>Valtari Exchange Example CIM</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag 'cim', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu6QcLzsVO9nVTJuvV3vlgVz1nCDDY9ak" type="text/javascript"></script>

    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world-highres2.js"></script>

    <script src="//player.vimeo.com/api/player.js"></script>


    <%= javascript_include_tag 'cim' %>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1, user-scalable=1">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
