<!DOCTYPE html>
<html>
  <head>
    <title>Valtari Exchange</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  <main class="<%= (current_user.present?) ? 'logged-in' : 'logged-in' -%>">
    <%= render partial: '/shared/cim_user_navigation' %>
    <%= render partial: '/shared/flash' %>
    <div class="container <%= (request.path =~ /admin/) ? 'wide' : '' -%>">
      <div class="col s12">
        <%= yield %>
      </div>
   </div>
  </main>
  <footer class="page-footer light-gray">
    <div class="container">
      <div class="row">
         <div class="col l6 s12">
           <h4 class=""> ©2017  Valtari Exchange</h4>
            <p class="grey-text"></p>
          </div>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Valtari Exchange
        <br><br><br>
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        <br><br>
        </div>
      </div>
    </footer>
  </body>
</html>
