<!DOCTYPE html>
<html>
  <head>
    <title>Valtari Exchange</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

  <main class="<%= (current_user.present?) ? 'logged-in' : 'logged-in' -%>">
    <%= render partial: '/shared/cim_user_navigation' %>
    <%= render partial: '/shared/flash' %>
    <div class="row">
      <div class="col s9 offset-s1">
        <%= yield %>
      </div>
   </div>
  </main>
  </body>
</html>
